*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

.page {
    --sidebar_width: 260px;
    background-color: var(--grey_2);
    color: var(--text_color);
    display: flex;
    font-size: 14px;
    font-family: 'Qanelas', Arial, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;

    &.is-overflow {
        overflow: hidden;
    }

    &.sidebar-collapsed {
        --sidebar_width: 68px;

        .sidebar__top {
            padding-left: 0;
            padding-right: 0;
        }

        .main-menu__link {
            justify-content: center;
            padding-left: 7px;
            padding-right: 7px;
        }

        .main-menu__link span,
        .user-profile svg,
        .user-profile__name {
            display: none;
        }
    }

    &__sidebar {
        min-width: var(--sidebar_width);
        position: relative;
        transition: transform 0.3s, width 0.3s, min-width 0.3s;
        width: var(--sidebar_width);
        z-index: 1;
        @media(max-width: $hd - 0.01px) {
            height: 100%;
            left: 0;
            position: fixed;
            transform: translateX(-100%);
            top: 0;
            z-index: 11;
        }

        &.is-open {
            transform: translateX(0);
        }
    }

    &__content {
        flex-grow: 1;
        padding: 95px 15px 54px;
        transition: width 0.3s;
        width: 100%;
        @media(min-width: $md) {
            padding-top: 28px;
            padding-left: 45px;
            padding-right: 45px;
        }
        @media(min-width: $hd) {
            width: calc(100% - var(--sidebar_width));
        }
    }

    &__top {
        align-items: center;
        border-bottom: 1px solid #D3DDF2;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 45px;
        padding-bottom: 28px;
        @media(max-width: $hd - 0.01px) {
            background-color: var(--grey_2);
            height: 75px;
            left: 0;
            margin: 0;
            padding: 15px;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 10;
        }
    }

    &__top-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.25;
        margin: 0;
        @media(min-width: $hd) {
            font-size: 28px;
        }
    }

    &__top-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        @media(max-width: $hd - 0.01px) {
            display: none;
        }
    }
}

.burger {
    width: 44px;
    @media(min-width: $hd) {
        display: none;
    }
}

.two-columns {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media(min-width: $md) {
        flex-direction: row;
    }

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    &__column {
        .box {
            height: 100%;
        }
        @media(min-width: $md) {
            width: calc(100% / 2 - 30px / 2);
        }
    }
}

.box {
    background-color: #fff;
    border: 1px solid var(--grey);
    border-radius: 10px;
    padding: 15px;
    @media(min-width: $lg) {
        padding: 30px;
    }

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    &__title-block {
        align-items: center;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 20px;

        &.justify-content-spacebetween {
            justify-content: space-between;
        }
    }

    &__title {
        align-items: center;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.25;
        margin: 0;
        @media(min-width: $lg) {
            font-size: 24px;
        }

        &--big {
            @media(min-width: $lg) {
                font-size: 32px;
            }
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin-top: 0;
}

h3 {
    color: var(--green);
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 16px;
    @media(min-width: $lg) {
        font-size: 24px;
        margin-bottom: 21px;
    }
}

a {
    color: var(--text_color);
    transition: color 0.3s;
}

img {
    height: auto;
    max-width: 100%;
}

svg {
    transition: fill 0.3s;
}

*:focus {
    outline: none;
}

button,
input,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 1em;

    &:last-child {
        margin-bottom: 0;
    }
}

ol,
ul {
    list-style-position: inside;
    padding: 0;

    &:last-child {
        margin-bottom: 0;
    }
}

.responsive-table {
    overflow-x: auto;
}

.table {
    border-collapse: collapse;
    border: none;
    font-size: 16px;
    width: 100%;

    th {
        background-color: #D9D9D9;
        padding: 20px;
    }

    td,
    th {
        border: none;
        font-weight: 300;
        padding: 10px;
        text-align: left;

        &:first-child {
            padding-left: 20px;
        }

        &:last-child {
            padding-right: 20px;
        }
    }

    th {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    tbody {
        tr:nth-child(1) {
            td {
                padding-top: 20px;
            }
        }
    }

    b {
        font-weight: 700;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}