*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

.page {
    --sidebar_width: 260px;
    background-color: var(--grey_2);
    color: var(--text_color);
    display: flex;
    font-size: 14px;
    font-family: 'Qanelas', Arial, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    height: 100%;
    min-height: 100%;
    overflow-x: hidden;

    &.is-overflow {
        overflow: hidden;
    }

    &.sidebar-collapsed {
        --sidebar_width: 68px;

        .sidebar__top {
            padding-left: 0;
            padding-right: 0;
        }

        .main-menu__link {
            justify-content: center;
            padding-left: 7px;
            padding-right: 7px;
        }

        .main-menu__link span,
        .main-menu__submenu-toggler,
        .user-profile svg,
        .user-profile__dropdown,
        .user-profile__name {
            display: none !important;
        }
    }

    &__sidebar {
        min-width: var(--sidebar_width);
        position: relative;
        transition: transform 0.3s, width 0.3s, min-width 0.3s;
        width: var(--sidebar_width);
        z-index: 1;
        @media(max-width: $hd - 0.01px) {
            height: 100%;
            left: 0;
            position: fixed;
            transform: translateX(-100%);
            top: 0;
            z-index: 11;
        }

        &.is-open {
            transform: translateX(0);
        }
    }

    &__content {
        flex-grow: 1;
        padding: 95px 15px 54px;
        transition: width 0.3s;
        width: 100%;
        @media(min-width: $md) {
            padding-top: 28px;
            padding-left: 45px;
            padding-right: 45px;
        }
        @media(min-width: $hd) {
            width: calc(100% - var(--sidebar_width));
        }
    }

    &__top {
        align-items: center;
        border-bottom: 1px solid #D3DDF2;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 45px;
        padding-bottom: 28px;
        @media(max-width: $hd - 0.01px) {
            background-color: var(--grey_2);
            height: 75px;
            left: 0;
            margin: 0;
            padding: 15px;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 10;
        }
    }

    &__top-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.25;
        margin: 0;
        @media(min-width: $hd) {
            font-size: 28px;
        }
    }

    &__top-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        @media(max-width: $hd - 0.01px) {
            display: none;
        }
    }
}

.burger {
    width: 44px;
    @media(min-width: $hd) {
        display: none;
    }
}

.two-columns {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media(min-width: $md) {
        flex-direction: row;
    }

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    &__column {
        .box {
            height: 100%;
        }
        @media(min-width: $md) {
            width: calc(100% / 2 - 30px / 2);
        }
    }
}

.box {
    background-color: #fff;
    border: 1px solid var(--grey);
    border-radius: 10px;
    padding: 15px;
    @media(min-width: $lg) {
        padding: 30px;
    }

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    &__title-block {
        align-items: center;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        margin-bottom: 20px;

        &.justify-content-spacebetween {
            justify-content: space-between;
        }

        .tabs-menu,
        .tabs-menu_2,
        .tabs-menu_3 {
            margin-bottom: 0 !important;
        }
    }

    &__title {
        align-items: center;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.25;
        margin: 0;
        @media(min-width: $lg) {
            font-size: 24px;
        }

        &--big {
            @media(min-width: $lg) {
                font-size: 32px;
            }
        }
    }

    &__footer {
        align-items: center;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin-top: 0;
}

h3 {
    color: var(--green);
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 16px;
    @media(min-width: $lg) {
        font-size: 24px;
        margin-bottom: 21px;
    }
}

a {
    color: var(--text_color);
    transition: color 0.3s;
}

img {
    height: auto;
    max-width: 100%;
}

svg {
    transition: fill 0.3s;
}

*:focus {
    outline: none;
}

button,
input,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 1em;

    &:last-child {
        margin-bottom: 0;
    }
}

ol,
ul {
    list-style-position: inside;
    padding: 0;

    &:last-child {
        margin-bottom: 0;
    }
}

hr {
    border: none;
    color: var(--grey_2);
    background-color: var(--grey_2);
    height: 1px;

    &:not(:first-child) {
        margin-top: 30px;
    }

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.responsive-table,
.table-responsive {
    @include scrollbar;
    overflow-x: auto;

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.table {
    border-collapse: collapse;
    width: 100%;

    th {
        background-color: var(--grey_8);
        color: var(--grey_3);
        font-weight: 500;
        height: 35px;
        line-height: 1;
        padding: 8px 5px;
        text-align: center;
        @media(min-width: $lg) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    td {
        border-bottom: 1px solid var(--grey_2);
        padding: 8px 5px;
        text-align: center;
        white-space: nowrap;
        @media(min-width: $lg) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .triangle {
        fill: currentColor;
        height: 10px;
        width: 10px;
    }
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.color-green {
    color: var(--green);
}

.color-red {
    color: var(--red);
}

.color-grey {
    color: var(--grey_3);
}

.color-black {
    color: var(--text_color);
}

.warning {
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--red);
    background-color: var(--pink);
    color: var(--red);
    display: flex;
    gap: 10px;
    padding: 8px 20px 8px 10px;

    svg {
        fill: currentColor;
        height: 24px;
        width: 24px;
    }
}

.fw_600 {
    font-weight: 600;
}

.attach-link {
    align-items: center;
    color: var(--grey_3);
    display: inline-flex;
    gap: 5px;
    font-weight: 600;
    text-decoration: none;
    vertical-align: middle;
    @include hover {
        color: var(--grey_4);
    }

    svg {
        fill: currentColor;
        height: 17px;
        width: 17px;
    }

    span {
        border-bottom: 1px dashed currentColor;
    }
}

.buttons-group {
    align-items: center;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;

    &__title {
        font-weight: 700;
        margin-right: 5px;
        margin-bottom: 0;
        @media(max-width: $sm - 0.01px) {
            min-width: 100%;
        }
    }
}

.text-status {
    align-items: center;
    display: inline-flex;
    gap: 5px;
    font-weight: 600;
    vertical-align: middle;
    white-space: nowrap;

    &.red {
        color: var(--red);

        .text-status__icon {
            background-color: var(--red);
        }
    }

    &.blue {
        color: var(--primary_color);

        .text-status__icon {
            background-color: var(--primary_color);
        }
    }

    &.green {
        color: var(--green);

        .text-status__icon {
            background-color: var(--green);
        }
    }

    &.yellow {
        color: var(--yellow);

        .text-status__icon {
            background-color: var(--yellow);
        }
    }

    &__icon {
        border-radius: 50%;
        height: 8px;
        min-width: 8px;
        width: 8px;
    }
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}