.button {
    align-items: center;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    justify-content: center;
    line-height: 1.4;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;

    &.disabled,
    &:disabled,
    &[data-disabled] {
        cursor: default;
        pointer-events: none;
    }

    &--type_1 {
        background-color: transparent;
        border-color: var(--primary_color);
        border-radius: 8px;
        color: inherit;
        gap: 10px;
        font-weight: 700;
        height: 44px;
        padding-left: 15px;
        padding-right: 15px;

        svg {
            fill: var(--primary_color);
            height: 24px;
            min-width: 24px;
            width: 24px;
        }

        &:not(.disabled),
        &:not(:disabled),
        &:not([data-disabled]) {
            @include hover {
                background-color: var(--primary_color);
                color: #fff;

                svg {
                    fill: #fff;
                }
            }
        }
    }
}