.checkbox {
    align-items: center;
    display: flex;
    gap: 10px;
    position: relative;
    z-index: 1;

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:checked ~ .checkbox__icon {
            background-color: var(--primary_color);
            border-color: var(--primary_color);
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath fill='%23fff' d='M7.2,13.2c-0.3,0-0.5-0.1-0.7-0.3l-3-2.9c-0.4-0.4-0.4-1,0-1.4c0.4-0.4,1-0.4,1.4,0l2.3,2.2l5.9-5.7c0.4-0.4,1-0.4,1.4,0c0.4,0.4,0.4,1,0,1.4l-6.6,6.4C7.7,13.1,7.5,13.2,7.2,13.2z'/%3E%3C/svg%3E");
        }

        &:checked ~ .checkbox__text {
            font-weight: 600;
        }

        &:not(:disabled) ~ .checkbox__icon {
            cursor: pointer;
        }

        &:disabled ~ .checkbox__icon {
            border-color: var(--grey_2);
            background-color: var(--grey_2);
        }

        &:disabled ~ .checkbox__text {
            color: var(--grey_3);
        }
    }

    &__icon {
        border: 1px solid var(--grey_5);
        border-radius: 5px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: block;
        height: 18px;
        min-width: 18px;
        width: 18px;
    }
}

.switch {
    align-items: center;
    display: flex;
    gap: 10px;
    position: relative;
    z-index: 1;

    &.blue {
        input:checked ~ .switch__icon {
            background-color: var(--primary_color);
        }

        input:checked:disabled ~ .switch__icon {
            background-color: var(--primary_color_50);

            &::after {
                background-color: #fff;
            }
        }
    }

    &.green {
        input:checked ~ .switch__icon {
            background-color: var(--green);
        }

        input:checked:disabled ~ .switch__icon {
            background-color: var(--green_2);

            &::after {
                background-color: #fff;
            }
        }
    }

    &.red {
        input:checked ~ .switch__icon {
            background-color: var(--red);
        }

        input:checked:disabled ~ .switch__icon {
            background-color: var(--pink);

            &::after {
                background-color: #fff;
            }
        }
    }

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:checked ~ .switch__icon {
            &::after {
                background-color: #fff;
                left: 20px;
            }
        }

        &:checked ~ .switch__text {
            color: var(--text_color);
        }

        &:not(:disabled) ~ .switch__icon {
            cursor: pointer;
        }

        &:disabled ~ .switch__icon {
            background-color: var(--grey_6);

            &::after {
                background-color: var(--grey);
            }
        }

        &:disabled ~ .switch__text {
            color: var(--grey);
        }
    }

    &__icon {
        border-radius: 10px;
        background-color: var(--grey_2);
        height: 20px;
        position: relative;
        transition: background-color 0.3s;
        width: 38px;
        z-index: 1;

        &::after {
            border-radius: 50%;
            background-color: var(--grey_3);
            content: '';
            height: 16px;
            left: 2px;
            position: absolute;
            top: 2px;
            transition: left 0.3s, background-color 0.3s;
            width: 16px;
            z-index: 1;
        }
    }

    &__text {
        color: var(--grey_3);
    }
}

.radio {
    align-items: center;
    display: flex;
    gap: 6px;
    position: relative;
    z-index: 1;

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:checked ~ .radio__icon {
            &::after {
                background-color: var(--primary_color);
            }
        }

        &:checked ~ .radio__text {
            font-weight: 600;
        }

        &:not(:disabled) ~ .radio__icon {
            cursor: pointer;
        }

        &:disabled ~ .radio__icon {
            border-color: var(--grey_2);
        }

        &:disabled ~ .radio__text {
            color: var(--grey_3);
        }

        &:checked:disabled ~ .radio__icon {
            &::after {
                background-color: var(--grey_2);
            }
        }
    }

    &__icon {
        border: 1px solid var(--grey_3);
        border-radius: 50%;
        display: block;
        height: 18px;
        min-width: 18px;
        position: relative;
        width: 18px;
        z-index: 1;

        &::after {
            border-radius: 50%;
            content: '';
            height: 12px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 12px;
            z-index: 1;
        }
    }
}

.radio_2 {
    display: inline-block;
    position: relative;
    z-index: 1;

    input {
        position: absolute;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 1px;

        &:checked ~ .radio_2__text {
            background-color: var(--primary_color);
            border-color: var(--primary_color);
            color: #fff;
        }

        &:not(:disabled) ~ .radio_2__text {
            cursor: pointer;
        }

        &:not(:disabled):not(:checked) ~ .radio_2__text {
            &:hover {
                background-color: var(--grey_2);
            }
        }

        &:disabled ~ .radio_2__text {
            opacity: 0.6;
            user-select: none;
        }
    }

    &__text {
        align-items: center;
        border: 1px solid var(--grey_2);
        border-radius: 6px;
        background-color: #fff;
        color: var(--primary_color);
        display: inline-flex;
        font-weight: 600;
        height: 60px;
        justify-content: center;
        min-width: 50px;
        transition: all 0.3s;
        width: 60px;
    }
}