@font-face {
    font-family: 'Qanelas';
    src: url("../fonts/subset-Qanelas-Medium.woff2") format('woff2'), url("../fonts/subset-Qanelas-Medium.woff") format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Qanelas';
    src: url("../fonts/subset-Qanelas-SemiBold.woff2") format('woff2'), url("../fonts/subset-Qanelas-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Qanelas';
    src: url("../fonts/subset-Qanelas-Bold.woff2") format('woff2'), url("../fonts/subset-Qanelas-Bold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}