.form-label {
    display: block;
    font-weight: 700;
    line-height: 1.21428;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.form-row {
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    &--centered {
        .form-label {
            @media(min-width: $md) {
                align-items: center;
                display: flex;
                height: 60px;
            }
        }
    }

    .form-label {
        margin-bottom: 0;
        @media(max-width: $md - 0.01px) {
            width: 100%;
        }
        @media(min-width: $md) {
            min-width: 180px;
            width: 180px;
        }
    }

    .grow {
        width: 100%;
        @media(min-width: $md) {
            width: calc(100% - 200px);
        }
    }

    .form-row {
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
}

.form-block {
    &:not(:last-child) {
        margin-bottom: 15px;
    }

    hr {
        &:last-child {
            margin-bottom: 30px;
        }
    }
}

.input-group {
    align-items: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    @media(min-width: $md) {
        width: calc(100% - 200px);
    }

    .input {
        flex-grow: 1;
    }
}

.objects-group-checkbox {
    padding-top: 15px;
}