.popup {
    background-color: #fff;
    border-radius: 8px;
    display: none;
    width: 100%;

    &--920 {
        max-width: 920px;

        &.fancybox-content {
            padding: 20px;
            @media(min-width: $md) {
                padding: 45px;
            }
        }

        .popup__close {
            right: 20px;
            top: 22px;
            @media(min-width: $md) {
                right: 45px;
                top: 47px;
            }

            &.fancybox-close-small {
                right: 20px;
                top: 22px;
                @media(min-width: $md) {
                    right: 45px;
                    top: 47px;
                }
            }
        }
    }

    &--620 {
        max-width: 620px;

        &.fancybox-content {
            padding: 20px;
            @media(min-width: $sm) {
                padding: 45px;
            }
        }
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.25;
        margin-bottom: 30px;
        padding-right: 50px;
    }

    &__close {
        @include button-reset;
        @include active-area;
        height: 24px;
        left: auto;
        position: absolute;
        width: 24px;
        z-index: 1;

        &.fancybox-close-small {
            opacity: 1;
            padding: 0;
        }

        svg {
            fill: var(--primary_color);
            height: 24px;
            width: 24px;
        }
    }
}