.tabs-menu {
    background-color: var(--grey_2);
    border-radius: 8px;
    display: flex;
    padding: 2px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    z-index: 1;

    &::-webkit-scrollbar {
        display: none;
    }

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    .button {
        flex-grow: 1;
        padding-left: 24px;
        padding-right: 24px;
        width: auto;
    }
}

.tabs-menu_2 {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;
    }

    .button {
        &.is-active {
            background-color: var(--primary_color);
            color: #fff;

            &.status-blue {
                .cnt {
                    background-color: var(--primary_color_darker);
                    color: #fff;
                }
            }
        }
    }
}

.tabs-menu_3 {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;
    }

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    .button {
        &.is-active {
            background-color: var(--primary_color);
            color: #fff;
        }
    }
}