.time-picker {
    display: block;
    position: relative;
    width: 80px;
    z-index: 1;

    &.is-open {
        z-index: 2;

        .time-picker__dropdown {
            display: block;
        }
    }

    &__input {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='27' xmlns='http://www.w3.org/2000/svg' fill='%239AA7C3' viewBox='0 0 12 27'%3E%3Cpath d='M10,9.5c-0.3,0-0.5-0.1-0.7-0.3L6,5.9L2.7,9.2c-0.4,0.4-1,0.4-1.4,0s-0.4-1,0-1.4l4-4c0.4-0.4,1-0.4,1.4,0l4,4c0.4,0.4,0.4,1,0,1.4C10.5,9.4,10.3,9.5,10,9.5z'/%3E%3Cpath d='M6,23.5c-0.3,0-0.5-0.1-0.7-0.3l-4-4c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0L6,21.1l3.3-3.3c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4l-4,4C6.5,23.4,6.3,23.5,6,23.5z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: calc(100% - 20px) 50%;
        padding-right: 32px;
    }

    &__dropdown {
        border: 1px solid var(--grey_2);
        border-radius: 8px;
        background-color: #fff;
        display: none;
        left: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 1;
    }

    &__items-list {
        @include scrollbar;
        border-radius: 8px;
        display: block;
        max-height: 160px;
        overflow-y: auto;
    }

    &__item {
        @include button-reset;
        display: block;
        min-height: 40px;
        padding: 8px 20px;
        text-align: left;
        transition: background-color 0.3s;
        width: 100%;

        &:not(.is-active) {
            @include hover {
                background-color: var(--grey_6);
            }
        }

        &.is-active {
            background-color: var(--grey_7);
            font-weight: 600;
        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--grey_2);
        }
    }
}