$xs: 480px;
$sm: 768px;
$md: 1024px;
$middle: 1180px;
$hd: 1200px;
$lg: 1400px;

:root {
    --text_color: #202224;
    --primary_color: #4880FF;
    --primary_color_50: rgba(72, 128, 255, 0.5);
    --primary_color_darker: #3266DC;
    --red: #F63F3F;
    --pink: #FFEDED;
    --pink_2: #F9E0DF;
    --pink_3: #ECD0CF;
    --green: #09BC77;
    --green_2: #B2D9CA;
    --grey: #DCE4F1;
    --grey_2: #EAEEF5;
    --grey_3: #9AA7C3;
    --grey_4: #757D8A;
    --grey_5: #A7B1C5;
    --grey_6: rgba(234,238,245, 0.5);
    --grey_7: #EDF3FF;
    --grey_8: #F9FAFC;
    --grey_9: rgba(234,238,245, 0.3);
    --yellow: #FFC700;
}