$xs: 480px;
$sm: 768px;
$md: 1024px;
$middle: 1180px;
$hd: 1200px;
$lg: 1400px;

:root {
    --text_color: #202224;
    --primary_color: #4880FF;
    --primary_color_50: rgba(72, 128, 255, 0.5);
    --primary_color_30: rgba(72, 128, 255, 0.3);
    --primary_color_10: rgba(72, 128, 255, 0.1);
    --primary_color_20: rgba(72, 128, 255, 0.2);
    --primary_color_darker: #3266DC;
    --red: #F63F3F;
    --red_10: rgba(246, 63, 63, 0.1);
    --red_20: rgba(246, 63, 63, 0.2);
    --red_30: rgba(246, 63, 63, 0.3);
    --red_50: rgba(246, 63, 63, 0.5);
    --pink: #FFEDED;
    --pink_2: #F9E0DF;
    --pink_3: #ECD0CF;
    --green: #09BC77;
    --green_2: #B2D9CA;
    --green_3: rgba(9, 188, 119, 0.1);
    --green_20: rgba(9, 188, 119, 0.2);
    --green_30: rgba(9, 188, 119, 0.3);
    --green_50: rgba(9, 188, 119, 0.5);
    --grey: #DCE4F1;
    --grey_2: #EAEEF5;
    --grey_3: #9AA7C3;
    --grey_4: #757D8A;
    --grey_5: #A7B1C5;
    --grey_6: rgba(234,238,245, 0.5);
    --grey_7: #EDF3FF;
    --grey_8: #F9FAFC;
    --grey_9: rgba(234,238,245, 0.3);
    --grey_10: rgba(32, 34, 36, 0.6);
    --grey_11: #F0F3F8;
    --grey_12: #A4AEBF;
    --grey_13: #EEF1F8;
    --grey_14: #A2B1CF;
    --yellow: #FFC700;
    --yellow_10: rgba(255, 199, 0, 0.1);
    --orange: #FF9548;
    --orange_10: rgba(255, 149, 72, 0.1);
}