.filter-reset {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    .button {
        svg {
            height: 12px;
            min-width: 12px;
            width: 12px;
        }
    }
}