.objects-filter_2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px 20px;
    margin-bottom: 30px;
    @media(min-width: $md) {
        align-items: center;
        flex-direction: row;
    }

    &__title {
        font-weight: 700;
        @media(min-width: $md) {
            min-width: 180px;
            width: 180px;
        }
    }

    .tabs-menu_2 {
        margin-bottom: 0;
        max-width: 100%;
    }
}