.object-detail {
    &__top {
        align-items: center;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;

        .url {
            flex-grow: 1;
            max-width: 680px;
        }
    }

    &__title-block {
        align-items: center;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        margin: 0;
    }

    &__last-change {
        align-items: center;
        border: 1px solid var(--grey_2);
        border-radius: 8px;
        color: var(--grey_5);
        display: flex;
        gap: 8px;
        line-height: 1.2;
        min-height: 30px;
        padding: 4px 10px;

        svg {
            fill: currentcolor;
            height: 16px;
            min-width: 16px;
            width: 16px;
        }
    }

    &__columns {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 50px;
        @media(min-width: $md) {
            flex-direction: row;
            gap: 50px;
        }
    }

    &__column {
        @media(min-width: $md) {
            width: calc(100% / 2 - 20px / 2);
        }
    }

    &__status {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 30px;
    }

    &__info {
        display: grid;
        gap: 30px 15px;
        grid-template-columns: 1fr 1fr;
        @media(min-width: $sm) {
            gap: 30px;
        }

        a {
            color: var(--primary_color);
            text-decoration: none;
        }
    }

    &__info-title {
        font-weight: 700;
        margin-bottom: 5px;
    }

    .features {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    &__images {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        @media(min-width: $md) {
            display: flex;
            gap: 30px;
        }

        img {
            border-radius: 8px;
            display: block;
            width: 100%;
        }

        .video-link {
            display: block;
            position: relative;
            z-index: 1;

            svg {
                fill: #fff;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
            }
        }
    }

    &__block {
        @media(max-width: $md - 0.01px) {
            margin-bottom: 30px;
        }
        @media(min-width: $md) {
            width: calc(100% / 2 - 30px / 2);
        }
    }

    &__slider {
        margin-bottom: 10px;

        .video-link {
            svg {
                height: 48px;
                width: 48px;
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            align-items: center;
            border: none;
            background-color: rgba(255,255,255,0.4);
            display: flex;
            height: 40px;
            justify-content: center;
            margin: 0;
            width: 40px;

            svg {
                fill: #fff;
                height: 12px;
                width: 12px;
            }

            &::after {
                display: none;
            }
        }

        .swiper-button-prev {
            border-radius: 0 8px 8px 0;
            left: 0;
        }

        .swiper-button-next {
            border-radius: 8px 0 0 8px;
            right: 0;
        }
    }

    &__thumbs {
        position: relative;
        z-index: 1;

        &::after {
            content: '';
            position: absolute;
            pointer-events: none;
            width: 108px;
            height: 100%;
            right: 0;
            top: 0;
            background: linear-gradient(270deg, #fff 0, rgba(255, 255, 255, 0) 100%);
            z-index: 1;
        }

        .swiper-slide {
            width: 60px;
        }

        .swiper-slide-thumb-active {
            position: relative;
            z-index: 1;

            &::after {
                border-radius: 8px;
                border: 1px solid var(--primary_color);
                background-color: rgba(0,0,0,0.3);
                bottom: 0;
                content: '';
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 1;
            }
        }

        .video-link {
            svg {
                height: 18px;
                width: 18px;
            }
        }
    }

    &__plan {
        align-items: center;
        background-color: var(--grey_6);
        border-radius: 8px;
        display: flex;
        height: 100%;
        padding: 20px;
    }

    &__cameras {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        @media(min-width: $sm) {
            gap: 50px;
        }

        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    &__camera {
        align-items: center;
        color: var(--primary_color);
        display: flex;
        gap: 10px;
        text-decoration: none;

        img {
            border-radius: 8px;
            height: 60px;
            min-width: 60px;
            width: 60px;
        }
    }

    .archive-toggler,
    .files {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__files-archive {
        display: none;
        @media(min-width: $hd) {
            @include scrollbar;
            height: 100px;
            overflow-y: auto;
        }

        .file-link {
            opacity: 0.5;
        }
    }
}