.plan {
    background-color: var(--grey_9);
    border-radius: 8px;
    margin-top: 30px;
    @media(min-width: $hd) {
        padding: 30px;
    }

    &__inner {
        position: relative;
        z-index: 1;
    }

    &__image {
        display: block;
        width: 100%;
    }

    &__svg {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        polygon {
            cursor: pointer;
            stroke-dasharray: 5;
            stroke-width: 2;
            transition: fill 0.3s;
            @include hover {
                stroke-dasharray: 0;
            }

            &.is-active {
                stroke-dasharray: 0;
            }

            &.blue {
                fill: var(--primary_color_30);
                stroke: var(--primary_color);
                @include hover {
                    fill: var(--primary_color_50);
                }

                &.is-active {
                    fill: var(--primary_color_50);
                }
            }

            &.red {
                fill: var(--red_30);
                stroke: var(--red);
                @include hover {
                    fill: var(--red_50);
                }

                &.is-active {
                    fill: var(--red_50);
                }
            }

            &.green {
                fill: var(--green_30);
                stroke: var(--green);
                @include hover {
                    fill: var(--green_50);
                }

                &.is-active {
                    fill: var(--green_50);
                }
            }
        }
    }

    &__tooltip {
        border: 1px solid var(--primary_color);
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 20px 0 var(--primary_color_20);
        display: none;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 290px;
        z-index: 1;

        .button {
            margin-top: 20px;
            width: 100%;
        }
    }

    &__tooltip-closer {
        @include button-reset;
        align-items: center;
        cursor: pointer;
        display: flex;
        height: 40px;
        justify-content: center;
        left: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;

        svg {
            fill: var(--primary_color);
            height: 16px;
            transition: fill 0.3s;
            width: 16px;
        }
        @include hover {
            svg {
                fill: var(--primary_color_darker);
            }
        }
    }

    &__tooltip-inner {
        padding: 30px;
    }

    &__tooltip-title {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.22222;
        margin-bottom: 20px;
    }

    &__tooltip-status {
        margin-bottom: 15px;
    }

    &__tooltip-prop {
        font-size: 16px;

        &:first-child {
            width: 100%;
        }
    }

    &__tooltip-prop-title {
        color: var(--grey_5);
        font-size: 14px;
    }

    &__tooltip-props {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
}

.plan-legend {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-top: 30px;
}

.square-info {
    align-items: center;
    display: inline-flex;
    gap: 5px;

    span {
        color: var(--grey_14);
        font-weight: 700;
    }
}