.url {
    display: flex;
    position: relative;
    white-space: nowrap;
    z-index: 1;

    &__hide-button {
        align-items: center;
        border-radius: 6px;
        border: none;
        background-color: var(--grey_2);
        color: var(--text_color);
        cursor: pointer;
        display: flex;
        font-size: 14px;
        font-weight: 500;
        gap: 8px;
        height: 26px;
        left: 4px;
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color 0.3s;
        z-index: 1;
        @include hover {
            background-color: var(--grey);
        }

        span {
            @media(max-width: $sm - 0.01px) {
                display: none;
            }
        }

        svg {
            fill: var(--grey_5);
            height: 18px;
            min-width: 18px;
            width: 18px;
        }
    }

    &__input {
        border: 1px solid var(--grey_2);
        border-radius: 8px;
        height: 40px;
        margin-right: -10px;
        padding-left: 150px;
        padding-right: 30px;
        transition: border-color 0.3s;
        width: 100%;
        @media(max-width: $sm - 0.01px) {
            padding-left: 64px;
        }

        &:focus {
            border-color: var(--primary_color);
        }
    }

    &__copy-button {
        align-items: center;
        border-radius: 8px;
        border: none;
        background-color: var(--primary_color);
        color: #fff;
        cursor: pointer;
        display: flex;
        font-size: 14px;
        font-weight: 500;
        gap: 8px;
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
        transition: background-color 0.3s;
        @include hover {
            background-color: var(--primary_color_darker);
        }

        span {
            @media(max-width: $sm - 0.01px) {
                display: none;
            }
        }

        svg {
            fill: currentColor;
            height: 18px;
            min-width: 18px;
            width: 18px;
        }
    }
}