<div class="box">
    <div class="box__title-block">
        <button class="button button--h_60 button--wide button--type_1" type="button">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
            </svg>
            <span>Добавить новый счет</span>
        </button>
    </div>

    <div class="tabs-menu_2">
        <button class="button button--h_30 button--type_8 status-blue is-active" type="button">
            <span>Все</span>
            <span class="cnt">12</span>
        </button>

        <button class="button button--h_30 button--type_8 status-blue" type="button">
            <span>Выставленные</span>
            <span class="cnt">6</span>
        </button>

        <button class="button button--h_30 button--type_8 status-red" type="button">
            <span>Не оплаченные</span>
            <span class="cnt">2</span>
        </button>
    </div>

    <div class="checks-list">
        <a class="check_2" href="#">
            <div class="check_2__title-block">
                <div class="check_2__title">OOO «Ромашка»</div>
                <div class="check_2__office">Поммещение #255</div>
            </div>

            <div class="check_2__info">
                <div><span class="color-grey">Сумма:</span> <b>25 000 ₽</b></div>
                <div class="text-status status-red">
                    <span class="status-icon"></span>
                    Не оплачено
                </div>
            </div>
        </a>

        <a class="check_2" href="#">
            <div class="check_2__title-block">
                <div class="check_2__title">OOO «Авансов»</div>
                <div class="check_2__office">Поммещение #198</div>
            </div>

            <div class="check_2__info">
                <div><span class="color-grey">Сумма:</span> <b>35 000 ₽</b></div>
                <div class="text-status status-yellow">
                    <span class="status-icon"></span>
                    В оплате
                </div>
            </div>
        </a>

        <a class="check_2" href="#">
            <div class="check_2__title-block">
                <div class="check_2__title">OOO «Эдельвейс»</div>
                <div class="check_2__office">Поммещение #18943</div>
            </div>

            <div class="check_2__info">
                <div><span class="color-grey">Сумма:</span> <b>25 000 ₽</b></div>
                <div class="text-status status-green">
                    <span class="status-icon"></span>
                    Оплачено
                </div>
            </div>
        </a>

        <a class="check_2" href="#">
            <div class="check_2__title-block">
                <div class="check_2__title">OOO «Ромашка»</div>
                <div class="check_2__office">Поммещение #255</div>
            </div>

            <div class="check_2__info">
                <div><span class="color-grey">Сумма:</span> <b>25 000 ₽</b></div>
                <div class="text-status status-red">
                    <span class="status-icon"></span>
                    Не оплачено
                </div>
            </div>
        </a>

        <a class="check_2" href="#">
            <div class="check_2__title-block">
                <div class="check_2__title">OOO «Авансов»</div>
                <div class="check_2__office">Поммещение #198</div>
            </div>

            <div class="check_2__info">
                <div><span class="color-grey">Сумма:</span> <b>35 000 ₽</b></div>
                <div class="text-status status-yellow">
                    <span class="status-icon"></span>
                    В оплате
                </div>
            </div>
        </a>
    </div>

    <div class="box__footer">
        <a class="button button--h_40 button--type_10" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#archive_icon" />
            </svg>
            <span>Архив</span>
        </a>

        <a class="button button--h_40 button--type_4" href="#">
            <span>Смотреть еще</span>
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#arrow_top_right"></use>
            </svg>
        </a>
    </div>
</div>