<div class="box">
    <div class="box__title-block">
        <div class="box__title">Лист запроса</div>
    </div>

    <div class="contacts-users-list">
        <a class="contact-user" href="#">
            <div class="user">
                <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg 2x" alt="">
                <div class="user__text">
                    <div class="user__name">Сидоров Иван Петрович</div>
                    <div class="user__place">Администратор</div>
                </div>
            </div>

            <div class="contact-user__contacts">
                <div>mailmailmail@mail.com</div>
                <div>+7 999 99 99 99</div>
            </div>

            <svg class="contact-user__arrow" aria-hidden="true">
                <use xlink:href="images/sprite.svg#chevron_right"></use>
            </svg>
        </a>

        <a class="contact-user" href="#">
            <div class="user">
                <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg 2x" alt="">
                <div class="user__text">
                    <div class="user__name">Константинопольский Константин Константинович</div>
                    <div class="user__place">Администратор</div>
                </div>
            </div>

            <div class="contact-user__contacts">
                <div>mailmailmail@mail.com</div>
                <div>+7 999 99 99 99</div>
            </div>

            <svg class="contact-user__arrow" aria-hidden="true">
                <use xlink:href="images/sprite.svg#chevron_right"></use>
            </svg>
        </a>

        <a class="contact-user" href="#">
            <div class="user">
                <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg 2x" alt="">
                <div class="user__text">
                    <div class="user__name">Сидоров Иван Петрович</div>
                    <div class="user__place">Администратор</div>
                </div>
            </div>

            <div class="contact-user__contacts">
                <div>mailmailmail@mail.com</div>
                <div>+7 999 99 99 99</div>
            </div>

            <svg class="contact-user__arrow" aria-hidden="true">
                <use xlink:href="images/sprite.svg#chevron_right"></use>
            </svg>
        </a>

        <a class="contact-user" href="#">
            <div class="user">
                <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg 2x" alt="">
                <div class="user__text">
                    <div class="user__name">Константинопольский Константин Константинович</div>
                    <div class="user__place">Администратор</div>
                </div>
            </div>

            <div class="contact-user__contacts">
                <div>mailmailmail@mail.com</div>
                <div>+7 999 99 99 99</div>
            </div>

            <svg class="contact-user__arrow" aria-hidden="true">
                <use xlink:href="images/sprite.svg#chevron_right"></use>
            </svg>
        </a>

        <a class="contact-user" href="#">
            <div class="user">
                <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg 2x" alt="">
                <div class="user__text">
                    <div class="user__name">Сидоров Иван Петрович</div>
                    <div class="user__place">Администратор</div>
                </div>
            </div>

            <div class="contact-user__contacts">
                <div>mailmailmail@mail.com</div>
                <div>+7 999 99 99 99</div>
            </div>

            <svg class="contact-user__arrow" aria-hidden="true">
                <use xlink:href="images/sprite.svg#chevron_right"></use>
            </svg>
        </a>

        <a class="contact-user" href="#">
            <div class="user">
                <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg 2x" alt="">
                <div class="user__text">
                    <div class="user__name">Константинопольский Константин Константинович</div>
                    <div class="user__place">Администратор</div>
                </div>
            </div>

            <div class="contact-user__contacts">
                <div>mailmailmail@mail.com</div>
                <div>+7 999 99 99 99</div>
            </div>

            <svg class="contact-user__arrow" aria-hidden="true">
                <use xlink:href="images/sprite.svg#chevron_right"></use>
            </svg>
        </a>

        <a class="contact-user" href="#">
            <div class="user">
                <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg 2x" alt="">
                <div class="user__text">
                    <div class="user__name">Сидоров Иван Петрович</div>
                    <div class="user__place">Администратор</div>
                </div>
            </div>

            <div class="contact-user__contacts">
                <div>mailmailmail@mail.com</div>
                <div>+7 999 99 99 99</div>
            </div>

            <svg class="contact-user__arrow" aria-hidden="true">
                <use xlink:href="images/sprite.svg#chevron_right"></use>
            </svg>
        </a>

        <a class="contact-user" href="#">
            <div class="user">
                <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg 2x" alt="">
                <div class="user__text">
                    <div class="user__name">Константинопольский Константин Константинович</div>
                    <div class="user__place">Администратор</div>
                </div>
            </div>

            <div class="contact-user__contacts">
                <div>mailmailmail@mail.com</div>
                <div>+7 999 99 99 99</div>
            </div>

            <svg class="contact-user__arrow" aria-hidden="true">
                <use xlink:href="images/sprite.svg#chevron_right"></use>
            </svg>
        </a>
    </div>
</div>