<div class="box object-detail">
    <div class="object-detail__top">
        <a class="object-detail__back button button--h_40 button--type_17" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#chevron_left" />
            </svg>
            <span>Назад</span>
        </a>

        <button class="button button--type_1 button--h_45" type="button">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#edit_2_icon"></use>
            </svg>
            <span>Редактировать</span>
        </button>

        <!--<div class="url">
            <button class="url__hide-button" type="button">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#eye_icon" />
                </svg>
                <span>Скрыть URL</span>
            </button>
            <input class="url__input" type="text" value="https://youtu.be/qWClW29nQtg?si=FAN_JJVmHRB5fcnF">
            <button class="url__copy-button" type="button">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#copy_icon" />
                </svg>
                <span>Копировать URL</span>
            </button>
        </div>-->
    </div>

    <div class="object-detail__title-block">
        <p class="object-detail__title">Офисное помещение 202</p>

        <div class="object-detail__last-change">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#clock_icon" />
            </svg>
            <span>20.04.2023 - внесены изменения в оферту (Зубенко)</span>
        </div>
    </div>

    <div class="object-detail__columns">
        <div class="object-detail__column">
            <div class="object-detail__status">
                <div class="text-status_2 status-blue">
                    <div class="status-icon"></div>
                    Арендуется
                </div>
                <div class="text-status_2 status-red">
                    <div class="status-icon"></div>
                    Задолженность
                </div>
            </div>

            <div class="object-detail__about">
                <p>Самый известный текст-«рыба», называемый Lorem ipsum, имеет свои корни в 16-том веке. Lorem ipsum был создан на псевдо-латыни, которая приблизительно соответствует настоящей латыни.</p>
            </div>
        </div>
        <div class="object-detail__column">
            <div class="object-detail__info">
                <div class="object-detail__info-item">
                    <p class="object-detail__info-title">Группа объектов</p>
                    <p><a href="#">БЦ Возрождение</a></p>
                </div>

                <div class="object-detail__info-item">
                    <p class="object-detail__info-title">Адрес</p>
                    <p>172531, Тверская обл, г. Нелидово, Ул. Невского, д.1</p>
                </div>

                <div class="object-detail__info-item">
                    <p class="object-detail__info-title">Тип</p>
                    <p>Торговое</p>
                </div>

                <div class="object-detail__info-item">
                    <p class="object-detail__info-title">Площадь</p>
                    <p>150 м2</p>
                </div>

                <div class="object-detail__info-item">
                    <p class="object-detail__info-title">Стоимость аренды</p>
                    <p>22 500 ₽/мес.</p>
                </div>

                <div class="object-detail__info-item">
                    <p class="object-detail__info-title">Стоимость м2</p>
                    <p>1 500 ₽</p>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="features">
        <div class="features__item">
            <p class="features__item-title">Средний платеж за КУ</p>
            <p>7 500 ₽</p>
        </div>

        <div class="features__separator"></div>

        <div class="features__item">
            <p class="features__item-title">Среднее значение кВт</p>
            <p>222 500</p>
        </div>

        <div class="features__separator"></div>

        <div class="features__item">
            <p class="features__item-title">Стоимость воды</p>
            <p>1 500 ₽</p>
        </div>

        <div class="features__separator"></div>

        <div class="features__item">
            <p class="features__item-title">Уборка</p>
            <p>1 500 ₽</p>
        </div>

        <div class="features__separator"></div>

        <div class="features__item">
            <p class="features__item-title">Прочие расходы</p>
            <p>1 500 ₽</p>
        </div>
    </div>-->

    <div class="object-detail__images">
        <div class="object-detail__block">
            <div class="js-object-slider swiper object-detail__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a class="video-link" data-fancybox href="https://www.youtube.com/watch?v=MOEtQSswu3s">
                            <img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt="">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#play_icon_filled" />
                            </svg>
                        </a>
                    </div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                </div>

                <button class="js-object-slider-prev swiper-button-prev" type="button" title="Назад">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#chevron_left" />
                    </svg>
                </button>
                <button class="js-object-slider-next swiper-button-next" type="button" title="Вперед">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#chevron_right" />
                    </svg>
                </button>
            </div>

            <div thumbsSlider="" class="js-object-thumbs swiper object-detail__thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="video-link">
                            <img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt="">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#play_icon_filled" />
                            </svg>
                        </div>
                    </div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                </div>
            </div>
        </div>

        <div class="object-detail__block">
            <div class="object-detail__plan"><img src="images/content/plan_2.jpg" srcset="images/content/plan_2@2x.jpg 2x" alt=""></div>
        </div>
    </div>

    <p><b>Видеонаблюдение</b></p>

    <div class="object-detail__cameras">
        <a class="object-detail__camera" href="#">
            <img src="images/content/img_3.jpg" srcset="images/content/img_3@2x.jpg 2x" alt="">
            <span>Онлайн-камера 1</span>
        </a>

        <a class="object-detail__camera" href="#">
            <img src="images/content/img_3.jpg" srcset="images/content/img_3@2x.jpg 2x" alt="">
            <span>Онлайн-камера 2</span>
        </a>
    </div>

    <p><b>Документы относящиеся к помещению</b></p>

    <div class="files">
        <a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon" />
            </svg>
            <span>Опись имущества</span>
        </a>

        <a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon" />
            </svg>
            <span>Акт 03.04.2024</span>
        </a>

        <!--<a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon" />
            </svg>
            <span>Договор долгосрочной аренды нежилого помещения от 03.04.2024</span>
        </a>

        <a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon" />
            </svg>
            <span>Договор от 03.04.2024</span>
        </a>

        <a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon" />
            </svg>
            <span>Договор долгосрочной аренды нежилого помещения от 03.04.2024</span>
        </a>

        <a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon" />
            </svg>
            <span>Акт 03.04.2024</span>
        </a>

        <a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon" />
            </svg>
            <span>Договор долгосрочной аренды нежилого помещения от 03.04.2024</span>
        </a>

        <a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon" />
            </svg>
            <span>Договор от 03.04.2024</span>
        </a>

        <a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon" />
            </svg>
            <span>Договор долгосрочной аренды нежилого помещения от 03.04.2024</span>
        </a>

        <a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon" />
            </svg>
            <span>Акт 03.04.2024</span>
        </a>

        <a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon" />
            </svg>
            <span>Договор долгосрочной аренды нежилого помещения от 03.04.2024</span>
        </a>

        <a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon" />
            </svg>
            <span>Договор от 03.04.2024</span>
        </a>-->
    </div>

    <button class="js-archive-toggler archive-toggler" type="button">
        <svg class="archive-toggler__icon" aria-hidden="true">
            <use xlink:href="images/sprite.svg#archive_icon" />
        </svg>
        <span>Архив документов</span>
        <svg class="archive-toggler__arrow" aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_down" />
        </svg>
    </button>

    <div class="object-detail__files-archive">
        <div class="files">
            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Договор долгосрочной аренды нежилого помещения от 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Акт 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Договор долгосрочной аренды нежилого помещения от 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Договор от 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Договор долгосрочной аренды нежилого помещения от 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Акт 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Договор долгосрочной аренды нежилого помещения от 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Договор от 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Договор долгосрочной аренды нежилого помещения от 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Акт 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Договор долгосрочной аренды нежилого помещения от 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Договор от 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Договор долгосрочной аренды нежилого помещения от 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Акт 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Договор долгосрочной аренды нежилого помещения от 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Договор от 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Договор долгосрочной аренды нежилого помещения от 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Акт 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Договор долгосрочной аренды нежилого помещения от 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Договор от 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Договор долгосрочной аренды нежилого помещения от 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Акт 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Договор долгосрочной аренды нежилого помещения от 03.04.2024</span>
            </a>

            <a class="file-link" href="#">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#file_icon" />
                </svg>
                <span>Договор от 03.04.2024</span>
            </a>
        </div>
    </div>
</div>