<div class="box">
    <div class="box__title-block justify-content-spacebetween">
        <div class="box__title">
            <div>
                <span class="renter-title">Арендатор</span>
                <a href="#">ООО «Ромашка»</a>
            </div>
        </div>

        <!--<div class="warning">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#alert_icon"></use>
            </svg>
            <span>Банкрот</span>
        </div>-->
    </div>

    <p><b>Контакты</b></p>

    <div class="contacts-users-list">
        <div class="contact-user contact-user--type_2">
            <div class="user">
                <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg 2x" alt="">
                <div class="user__text">
                    <div class="user__name">Константинопольский Константин Константинович</div>
                    <div class="user__place">Основной контакт</div>
                    <div class="user__place">Администратор</div>
                </div>
            </div>

            <div class="contact-user__contacts">
                <div>mailmailmail@mail.com</div>
                <div>+7 999 99 99 99</div>
            </div>
        </div>

        <div class="contact-user contact-user--type_2">
            <div class="user">
                <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg 2x" alt="">
                <div class="user__text">
                    <div class="user__name">Константинопольский Константин Константинович</div>
                    <div class="user__place">Администратор</div>
                </div>
            </div>

            <div class="contact-user__contacts">
                <div>mailmailmail@mail.com</div>
                <div>+7 999 99 99 99</div>
            </div>
        </div>



        <div class="contact-user contact-user--type_2">
            <div class="user">
                <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg 2x" alt="">
                <div class="user__text">
                    <div class="user__name">Константинопольский Константин Константинович</div>
                    <div class="user__place">Администратор</div>
                </div>
            </div>

            <div class="contact-user__contacts">
                <div>mailmailmail@mail.com</div>
                <div>+7 999 99 99 99</div>
            </div>
        </div>
    </div>

    <!--<div class="agents-list">
        <div class="agent">
            <div class="user">
                <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg 2x" alt="">
                <div class="user__text">
                    <div class="user__name">Сидоров Иван Петрович</div>
                    <div class="user__place">Основной контакт</div>
                    <div class="user__place">Администратор</div>
                </div>
            </div>

            <div class="agent__contacts">
                <div>mailmailmail@mail.com</div>
                <div>+7 999 99 99 99</div>
            </div>

            <div class="agent__controls">
                <button class="agent__control" type="button" title="Редактировать">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#edit_2_icon" />
                    </svg>
                </button>

                <button class="agent__control" type="button" title="Удалить">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#trash_icon" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="agent">
            <div class="user">
                <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg 2x" alt="">
                <div class="user__text">
                    <div class="user__name">Константинопольский Константин Константинович</div>
                    <div class="user__place">Администратор</div>
                </div>
            </div>

            <div class="agent__contacts">
                <div>mail@mail.ru</div>
                <div>+7 999 99 99 99</div>
            </div>

            <div class="agent__controls">
                <button class="agent__control" type="button" title="Редактировать">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#edit_2_icon" />
                    </svg>
                </button>

                <button class="agent__control" type="button" title="Удалить">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#trash_icon" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="agent">
            <div class="user">
                <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg 2x" alt="">
                <div class="user__text">
                    <div class="user__name">Константинопольский Константин Константинович</div>
                    <div class="user__place">Администратор</div>
                </div>
            </div>

            <div class="agent__contacts">
                <div>mail@mail.ru</div>
                <div>+7 999 99 99 99</div>
            </div>

            <div class="agent__controls">
                <button class="agent__control" type="button" title="Редактировать">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#edit_2_icon" />
                    </svg>
                </button>

                <button class="agent__control" type="button" title="Удалить">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#trash_icon" />
                    </svg>
                </button>
            </div>
        </div>
    </div>-->

    <hr>

    <p><b>Статус платежей</b></p>

    <h2 class="text-status status-green">
        Задолженность отсутствует
    </h2>

    <br>

    <h2 class="text-status status-red">
        Задолженность <b>25 000 ₽</b>
    </h2>

    <!--<div class="check-list">
        <div class="check">
            <div class="check__title">Задолженность отсутствует</div>
            <div class="check__value-block">
                <div class="check__value">
                    <span class="color-grey">Сумма:</span>
                    <b>25 000 ₽</b>
                </div>
                <div class="text-status status-red">
                    <span class="status-icon"></span>
                    Не оплачено
                </div>
            </div>
        </div>

        <div class="check">
            <div class="check__title">Счет Февраль</div>
            <div class="check__value-block">
                <div class="check__value">
                    <span class="color-grey">Сумма:</span>
                    <b>35 000 ₽</b>
                </div>
                <div class="text-status status-yellow">
                    <span class="status-icon"></span>
                    В оплате
                </div>
            </div>
        </div>

        <div class="check">
            <div class="check__title">Счет Январь</div>
            <div class="check__value-block">
                <div class="check__value">
                    <span class="color-grey">Сумма:</span>
                    <b>25 000 ₽</b>
                </div>
                <div class="text-status status-green">
                    <span class="status-icon"></span>
                    Оплачено
                </div>
            </div>
        </div>
    </div>-->
</div>