<div class="box">
    <div class="box__title-block">
        <div class="box__title">Документы арендатора</div>
    </div>

    <div class="files-vertical-list">
        <a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon" />
            </svg>
            <span>Договор долгострочной аренды №21 от 15.02.2024</span>
        </a>

        <a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon" />
            </svg>
            <span>Акт приёмки помещения к договору №21 от 15.02.2024</span>
        </a>

        <a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon" />
            </svg>
            <span>Информационное письмо об оплате</span>
        </a>

        <a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon" />
            </svg>
            <span>Информационное письмо о смене реквизитов</span>
        </a>

        <a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon" />
            </svg>
            <span>Информационное письмо о смене генерального директора</span>
        </a>
    </div>
</div>