<div class="box">
    <div class="box__title-block">
        <div class="box__title">Список арендаторов</div>
    </div>

    <div class="responsive-table">
        <table class="table">
            <tbody>
                <tr>
                    <th class="text-left">Наименование организации</th>
                    <th class="text-left">Дата заключения договора</th>
                    <th class="text-left">Дата расторжения договора</th>
                </tr>
                <tr>
                    <td class="text-left">
                        <a href="#">ООО "Ромашка"</a>
                    </td>
                    <td class="color-grey text-left">27.06.2022</td>
                    <td class="color-grey text-left">-</td>
                </tr>
                <tr>
                    <td class="text-left">
                        <a href="#">ООО "Радуга"</a>
                    </td>
                    <td class="color-grey text-left">16.01.2001</td>
                    <td class="color-grey text-left">05.04.2015</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="box__footer">
        <div></div>

        <ul class="pager">
            <li class="pager__item">
                <a class="pager__link is-active" href="#">1</a>
            </li>
            <li class="pager__item">
                <a class="pager__link" href="#">2</a>
            </li>
            <li class="pager__item">
                <a class="pager__link" href="#">3</a>
            </li>
            <li class="pager__item">
                <a class="pager__link" href="#">...</a>
            </li>
            <li class="pager__item">
                <a class="pager__link" href="#">7</a>
            </li>
            <li class="pager__item pager__item--arrow">
                <a class="pager__link" href="#">
                    <span>Вперед</span>
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#chevron_right"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>