<div id="add-task-popup" class="popup add-task-popup">
    <p class="popup__title">Поставить новую задачу</p>

    <form action="">
        <div class="add-task-popup__row">
            <div class="add-task-popup__column">

            </div>

            <div class="add-task-popup__column">
                <label class="add-task-popup__label" for="">Добавить описание задачи</label>
                <textarea class="textarea" placeholder="Опишите задачу..."></textarea>
            </div>
        </div>

        <div class="add-task-popup__row">
            <div class="add-task-popup__column">
                <label class="add-task-popup__label" for="">Выбрать ответственного</label>

            </div>

            <div class="add-task-popup__column">
                <label class="add-task-popup__label" for="">Поставить срок</label>
                <textarea class="textarea" placeholder="Опишите задачу..."></textarea>
            </div>
        </div>

        <div class="add-task-popup__row">
            <div class="add-task-popup__column">
                <label class="add-task-popup__label" for="">Приоритет</label>

            </div>

            <div class="add-task-popup__column">
                <button class="button" type="submit">Добавить</button>
            </div>
        </div>
    </form>
</div>