<div class="objects-menu">
    <div class="js-horizontal-scroll objects-menu__wrapper">
        <ul class="objects-menu__list">
            <li class="objects-menu__item">
                <a class="objects-menu__button is-active" href="#" draggable="false"><span>БЦ Возрождение литера А</span></a>
            </li>
            <li class="objects-menu__item">
                <a class="objects-menu__button" href="#" draggable="false"><span>БЦ Возрождение литера Б</span></a>
            </li>
            <li class="objects-menu__item">
                <a class="objects-menu__button" href="#" draggable="false"><span>БЦ Космос</span></a>
            </li>
            <li class="objects-menu__item">
                <a class="objects-menu__button" href="#" draggable="false"><span>Желтый угол</span></a>
            </li>
            <li class="objects-menu__item">
                <a class="objects-menu__button" href="#" draggable="false"><span>БЦ Космос корпус 1</span></a>
            </li>
            <li class="objects-menu__item">
                <a class="objects-menu__button" href="#" draggable="false"><span>БЦ Космос корпус 2</span></a>
            </li>
            <li class="objects-menu__item">
                <a class="objects-menu__button" href="#" draggable="false"><span>Желтый угол</span></a>
            </li>
            <li class="objects-menu__item">
                <a class="objects-menu__button" href="#" draggable="false"><span>БЦ Возрождение</span></a>
            </li>
            <li class="objects-menu__item">
                <a class="objects-menu__button" href="#" draggable="false"><span>БЦ Космос</span></a>
            </li>
            <li class="objects-menu__item">
                <a class="objects-menu__button" href="#" draggable="false"><span>Желтый угол</span></a>
            </li>
            <li class="objects-menu__item">
                <a class="objects-menu__button" href="#" draggable="false"><span>БЦ Возрождение</span></a>
            </li>
            <li class="objects-menu__item">
                <a class="objects-menu__button" href="#" draggable="false"><span>БЦ Космос</span></a>
            </li>
            <li class="objects-menu__item">
                <a class="objects-menu__button" href="#" draggable="false"><span>Желтый угол</span></a>
            </li>
        </ul>
    </div>
    <button class="js-objects-menu-toggler objects-menu__toggler" type="button">Развернуть список</button>
</div>