<div class="page__top">
    <h1 class="page__top-title">Холдинг Аренда</h1>

    <div class="page__top-buttons">
        <button class="button button--type_1" type="button" data-fancybox data-src="#add-task-popup">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#circle_plus_icon" />
            </svg>
            <span>Поставить новую задачу</span>
        </button>

        <button class="button button--type_1" type="button">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#circle_plus_icon" />
            </svg>
            <span>Добавить нового арендатора</span>
        </button>
    </div>

    <button class="js-sidebar-toggler burger button button--type_1" type="button" title="Открыть меню">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#burger_icon" />
        </svg>
    </button>
</div>