<div class="page__top">
    <h1 class="page__top-title">Название рабочей области</h1>

    <div class="page__top-buttons">
        <button class="button button--h_45 button--type_1" type="button" data-fancybox data-src="#add-task-popup">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#circle_plus_icon" />
            </svg>
            <span>Новая задача</span>
        </button>

        <button class="button button--h_45 button--type_1" type="button">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#circle_plus_icon" />
            </svg>
            <span>Добавить контрагента</span>
        </button>
    </div>

    <button class="js-sidebar-toggler page__top-burger" type="button" title="Открыть меню">
        <svg aria-hidden="true">
            <use xlink:href="images/sprite.svg#burger_icon" />
        </svg>
    </button>
</div>