.add-square {
    &__price-block {
        align-items: center;
        display: flex;
        gap: 20px;
    }

    &__status {
        align-items: center;
        display: flex;
        gap: 20px;
    }
}