<div class="box document-detail">
    <div class="document-detail__top">
        <a class="document-detail__back button button--h_40" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#chevron_left" />
            </svg>
            <span>Назад</span>
        </a>

        <button class="button button--type_1 button--h_45" type="button">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#edit_2_icon"></use>
            </svg>
            <span>Редактировать</span>
        </button>
    </div>

    <div class="document-detail__title-block">
        <p class="document-detail__title">Договор №541 от 21.03.2024</p>
    </div>

    <div class="document-detail__columns">
        <div class="document-detail__column">
            <div class="document-detail__info">
                <div class="document-detail__info-item">
                    <p class="document-detail__info-title">Арендатор</p>
                    <p>ООО "Арендатор"</p>
                </div>

                <div class="document-detail__info-item">
                    <p class="document-detail__info-title">Арендодатель</p>
                    <p>ООО "Арендодатель"</p>
                </div>

                <div class="document-detail__info-item">
                    <p class="document-detail__info-title">Объект договора</p>
                    <p><a href="#">Офис 2021</a></p>
                </div>

                <div class="document-detail__info-item">
                    <p class="document-detail__info-title">Срок договора</p>
                    <p>11 мес.</p>
                </div>

                <div class="document-detail__info-item">
                    <p class="document-detail__info-title">Ежемесячный платёж</p>
                    <p>25 000</p>
                </div>
            </div>
        </div>

        <div class="document-detail__column">
            <div class="document-detail__about">
                <p><b>Особые условия</b></p>

                <p>Скидка на первый платёж в размере 10%</p>
            </div>
        </div>
    </div>

    <p><b>Файлы</b></p>

    <div class="files">
        <a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon"></use>
            </svg>
            <span>Договор №541 от 21.03.2024</span>
        </a>

        <a class="file-link" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon"></use>
            </svg>
            <span>Подписанный договор №541 от 21.03.2024</span>
        </a>
    </div>
</div>