<h2>Кнопки</h2>

<p>Могут быть разной высоты: 30, 40, 45, 50 и 60</p>

<button class="button button--type_1 button--h_30" type="button">Войти</button>

<button class="button button--type_1 button--h_40" type="button">Войти</button>

<button class="button button--type_1 button--h_45" type="button">Войти</button>

<button class="button button--type_1 button--h_50" type="button">Войти</button>

<button class="button button--type_1 button--h_60" type="button">Войти</button>

<br><br>

<p>Может быть шириной 100%</p>

<button class="button button--type_1 button--h_60 button--wide" type="button">Войти</button>

<br><br>

<p>Может быть квадратной для размещения внутри только иконки</p>


<button class="button button--type_1 button--h_30 button--square" type="button">
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#chart_pie_icon"></use>
    </svg>
</button>

<button class="button button--type_1 button--h_40 button--square" type="button">
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#chart_pie_icon"></use>
    </svg>
</button>

<button class="button button--type_1 button--h_45 button--square" type="button">
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#chart_pie_icon"></use>
    </svg>
</button>

<button class="button button--type_1 button--h_50 button--square" type="button">
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#chart_pie_icon"></use>
    </svg>
</button>

<button class="button button--type_1 button--h_60 button--square" type="button">
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#chart_pie_icon"></use>
    </svg>
</button>

<br><br>

<p>Могут быть разных цветов</p>

<button class="button button--h_45 button--type_1 button--square" type="button">
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
    </svg>
</button>

<button class="button button--h_45 button--type_1" type="button">
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
    </svg>
    Текст кнопки
</button>

<button class="button button--h_45 button--type_1" type="button">
    Текст кнопки
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
    </svg>
</button>

<br><br>

<button class="button button--h_45 button--type_2 button--square" type="button">
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
    </svg>
</button>

<button class="button button--h_45 button--type_2" type="button">
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
    </svg>
    Текст кнопки
</button>

<button class="button button--h_45 button--type_2" type="button">
    Текст кнопки
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
    </svg>
</button>

<br><br>

<button class="button button--h_45 button--type_3 button--square" type="button">
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
    </svg>
</button>

<button class="button button--h_45 button--type_3" type="button">
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
    </svg>
    Текст кнопки
</button>

<button class="button button--h_45 button--type_3" type="button">
    Текст кнопки
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
    </svg>
</button>

<br><br>

<button class="button button--h_45 button--type_4 button--square" type="button">
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#trash_icon"></use>
    </svg>
</button>

<button class="button button--h_45 button--type_4" type="button">
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#trash_icon"></use>
    </svg>
    Удалить
</button>

<button class="button button--h_45 button--type_4" type="button">
    Удалить
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#trash_icon"></use>
    </svg>
</button>

<br><br>

<p>Выключенные кнопки</p>

<button class="button button--type_1 button--h_40" type="button" disabled>
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
    </svg>
    Войти
</button>

<button class="button button--type_2 button--h_40" type="button" disabled>
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
    </svg>
    Войти
</button>

<button class="button button--type_3 button--h_40" type="button" disabled>
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
    </svg>
    Войти
</button>

<button class="button button--type_4 button--h_40" type="button" disabled>
    <svg aria-hidden="true">
        <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
    </svg>
    Войти
</button>