<h2>Пакетная загрузка файлов</h2>

<div class="dropzone">
    <svg class="dropzone__icon" aria-hidden="true">
        <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
    </svg>

    <p class="dropzone__title">Прикрепить фото или видео</p>

    <label class="input-file">
        <input type="file">
        <span class="input-file__text">Выбрать...</span>
    </label>
</div>

<br><br>

<div class="dropzone">
    <div class="dropzone__files">
        <div class="dropzone__file">
            <div class="dropzone__file-image">
                <img src="images/content/img_3.jpg" srcset="images/content/img_3@2x.jpg 2x" alt="">

                <button class="dropzone__file-delete" type="button" title="Удалить">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#delete_icon"></use>
                    </svg>
                </button>

                <svg class="dropzone__file-type" aria-hidden="true">
                    <use xlink:href="images/sprite.svg#image_icon"></use>
                </svg>
            </div>

            <div class="dropzone__file-title">Снимок экрана...1293.png</div>
        </div>

        <div class="dropzone__file">
            <div class="dropzone__file-image">
                <img src="images/content/img_3.jpg" srcset="images/content/img_3@2x.jpg 2x" alt="">

                <button class="dropzone__file-delete" type="button" title="Удалить">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#delete_icon"></use>
                    </svg>
                </button>

                <svg class="dropzone__file-type" aria-hidden="true">
                    <use xlink:href="images/sprite.svg#image_icon"></use>
                </svg>
            </div>

            <div class="dropzone__file-title">Снимок экрана...1293.png</div>
        </div>

        <div class="dropzone__file">
            <div class="dropzone__file-image">
                <img src="images/content/img_3.jpg" srcset="images/content/img_3@2x.jpg 2x" alt="">

                <button class="dropzone__file-delete" type="button" title="Удалить">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#delete_icon"></use>
                    </svg>
                </button>

                <svg class="dropzone__file-type" aria-hidden="true">
                    <use xlink:href="images/sprite.svg#image_icon"></use>
                </svg>
            </div>

            <div class="dropzone__file-title">Снимок экрана...1293.png</div>
        </div>

        <div class="dropzone__file">
            <div class="dropzone__file-image">
                <img src="images/content/img_3.jpg" srcset="images/content/img_3@2x.jpg 2x" alt="">

                <button class="dropzone__file-delete" type="button" title="Удалить">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#delete_icon"></use>
                    </svg>
                </button>

                <svg class="dropzone__file-type" aria-hidden="true">
                    <use xlink:href="images/sprite.svg#image_icon"></use>
                </svg>
            </div>

            <div class="dropzone__file-title">Снимок экрана...1293.png</div>
        </div>

        <div class="dropzone__file">
            <div class="dropzone__file-image">
                <img src="images/content/img_3.jpg" srcset="images/content/img_3@2x.jpg 2x" alt="">

                <button class="dropzone__file-delete" type="button" title="Удалить">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#delete_icon"></use>
                    </svg>
                </button>

                <svg class="dropzone__file-type" aria-hidden="true">
                    <use xlink:href="images/sprite.svg#play_icon"></use>
                </svg>
            </div>

            <div class="dropzone__file-title">DB0908961293.avi</div>
        </div>

        <div class="dropzone__add" title="Добавить файлы">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
            </svg>
        </div>
    </div>
</div>

<br><br>

<div class="dropzone dropzone--documents">
    <div class="dropzone__files">
        <div class="dropzone__doc">
            <svg class="dropzone__doc-icon" aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon"></use>
            </svg>

            <div class="dropzone__doc-description">
                <div class="dropzone__doc-title">Договор долгосрочной аренды нежилого помещения от 03.04.2024</div>
                <div class="dropzone__doc-type">pdf</div>
            </div>

            <button class="dropzone__doc-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#trash_icon"></use>
                </svg>
            </button>
        </div>

        <div class="dropzone__doc">
            <svg class="dropzone__doc-icon" aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon"></use>
            </svg>

            <div class="dropzone__doc-description">
                <div class="dropzone__doc-title">Договор долгосрочной аренды нежилого помещения от 03.04.2024</div>
                <div class="dropzone__doc-type">pdf</div>
            </div>

            <button class="dropzone__doc-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#trash_icon"></use>
                </svg>
            </button>
        </div>

        <div class="dropzone__doc">
            <svg class="dropzone__doc-icon" aria-hidden="true">
                <use xlink:href="images/sprite.svg#file_icon"></use>
            </svg>

            <div class="dropzone__doc-description">
                <div class="dropzone__doc-title">Договор долгосрочной аренды нежилого помещения от 03.04.2024</div>
                <div class="dropzone__doc-type">pdf</div>
            </div>

            <button class="dropzone__doc-delete" type="button" title="Удалить">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#trash_icon"></use>
                </svg>
            </button>
        </div>

        <div class="dropzone__add" title="Добавить файлы">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
            </svg>
        </div>
    </div>
</div>