<h2>Загрузка файла</h2>

<label class="input-file">
    <input type="file">
    <span class="input-file__text">Выбрать файл</span>
</label>

<br><br>

<p>Файл выбран</p>

<div class="input-file-wrapper">
    <div class="input-file-info">
        <div class="input-file-info__type-block">
            <svg class="input-file-info__type" aria-hidden="true">
                <use xlink:href="images/sprite.svg#image_icon"></use>
            </svg>

            <span>PNG</span>

            <svg class="input-file-info__check" aria-hidden="true">
                <use xlink:href="images/sprite.svg#check_icon"></use>
            </svg>
        </div>

        <button class="input-file-info__delete">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#delete_icon"></use>
            </svg>
            Удалить
        </button>
    </div>

    <label class="input-file">
        <input type="file">
        <span class="input-file__text">Выбрать другой...</span>
    </label>
</div>