<h2>Поля ввода</h2>

<label class="form-label" for="email">E-mail</label>

<input id="email" class="js-email-mask input" type="text" value="" name="email" placeholder="example@mail.ru">

<br>

<label class="form-label" for="phone">Телефон</label>

<input id="phone" class="js-phone-mask input" type="text" value="" name="phone" placeholder="+7 (___) ___-__-__">

<br>

<label class="form-label" for="address">Адрес</label>

<input id="address" class="input valid" type="text" value="" name="address" placeholder="Например: ул. Ленина д. 1">

<br>

<label class="form-label" for="password">Пароль</label>

<input id="password" class="input error" type="password" value="password" name="password">

<div class="error-text">Неверный пароль</div>

<br>

<label class="form-label" for="last_name">Фамилия</label>

<input id="last_name" class="input" type="text" value="Иванов" name="name" placeholder="Например: Иванов">

<br>

<label class="form-label" for="name">Имя</label>

<input id="name" class="input" type="text" value="" name="name" placeholder="Например: Пётр">

<br>

<label class="form-label" for="second_name">Отчество</label>

<input id="second_name" class="input" type="text" value="Сидорович" name="name" placeholder="Например: Сидорович" disabled>

<br>

<label class="form-label" for="message">Сообщение</label>

<textarea id="message" class="textarea" placeholder="Введите ваше сообщение"></textarea>

<br>

<label class="form-label" for="message_2">Сообщение</label>

<textarea id="message_2" class="textarea"
  placeholder="Введите ваше сообщение">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dolore officia, non modi dolor enim totam magni, aliquid harum molestias repellat necessitatibus corrupti unde nihil earum vitae velit? Voluptatum, ab!</textarea>

<br>

<label class="form-label" for="message_3">Сообщение</label>

<textarea id="message_3" class="textarea valid"
  placeholder="Введите ваше сообщение">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dolore officia, non modi dolor enim totam magni, aliquid harum molestias repellat necessitatibus corrupti unde nihil earum vitae velit? Voluptatum, ab!</textarea>

<br>

<label class="form-label" for="message_4">Сообщение</label>

<textarea id="message_4" class="textarea error"
  placeholder="Введите ваше сообщение">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dolore officia, non modi dolor enim totam magni, aliquid harum molestias repellat necessitatibus corrupti unde nihil earum vitae velit? Voluptatum, ab!</textarea>

<br>

<label class="form-label" for="message_5">Сообщение</label>

<textarea id="message_5" class="textarea error" placeholder="Введите ваше сообщение" disabled></textarea>