<h2>Радио-кнопки</h2>

<label class="radio">
    <input type="radio" name="radio" value="1">
    <span class="radio__icon"></span>
    <span class="radio__text">Вариант 1</span>
</label>

<br>

<label class="radio">
    <input type="radio" name="radio" value="2">
    <span class="radio__icon"></span>
    <span class="radio__text">Вариант 2</span>
</label>

<br>

<label class="radio">
    <input type="radio" name="radio" value="3" disabled>
    <span class="radio__icon"></span>
    <span class="radio__text">Вариант 3</span>
</label>

<br>

<label class="radio">
    <input type="radio" name="radio_2" value="1" checked disabled>
    <span class="radio__icon"></span>
    <span class="radio__text">Отдельный вариант</span>
</label>