<h2>Селект</h2>

<label class="form-label" for="select_1">Селект высотой 45</label>

<div class="select-wrapper select-wrapper--h_45">
    <select id="select_1" class="js-select" data-placeholder="Селект высотой 45">
        <option></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>
</div>

<br>

<label class="form-label" for="select_2">Селект высотой 60</label>

<div class="select-wrapper select-wrapper--h_60">
    <select id="select_2" class="js-select" data-placeholder="Селект высотой 60">
        <option></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>
</div>

<br>

<label class="form-label" for="select_3">Выключенный селект</label>

<div class="select-wrapper select-wrapper--h_60">
    <select id="select_3" class="js-select" disabled data-placeholder="Селект высотой 60">
        <option></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4" selected>4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>
</div>