<h2>Переключатели</h2>

<label class="switch blue">
    <input type="checkbox">
    <span class="switch__icon"></span>
    <span class="switch__text">Общая прибыль</span>
</label>

<br>

<label class="switch blue">
    <input type="checkbox" checked="">
    <span class="switch__icon"></span>
    <span class="switch__text">Получено</span>
</label>

<br>

<label class="switch green">
    <input type="checkbox" checked="">
    <span class="switch__icon"></span>
    <span class="switch__text">Свободные помещения</span>
</label>

<br>

<label class="switch red">
    <input type="checkbox" checked="">
    <span class="switch__icon"></span>
    <span class="switch__text">Задолженность</span>
</label>

<br>

<label class="switch blue">
    <input type="checkbox" disabled>
    <span class="switch__icon"></span>
    <span class="switch__text">Выключенный</span>
</label>

<br>

<label class="switch blue">
    <input type="checkbox" checked disabled>
    <span class="switch__icon"></span>
    <span class="switch__text">Выключенный и отмеченный</span>
</label>