<h2>Выбор времени</h2>

<label class="form-label">Выберите время</label>

<div style="display: flex; gap: 10px;">
    <div class="js-time-picker time-picker">
        <input class="time-picker__input input" type="number" name="" value="00" readonly="">
        <span class="time-picker__dropdown">
            <span class="time-picker__items-list">
                <span class="time-picker__item">00</span>
                <span class="time-picker__item">01</span>
                <span class="time-picker__item">02</span>
                <span class="time-picker__item">03</span>
                <span class="time-picker__item">04</span>
                <span class="time-picker__item">05</span>
                <span class="time-picker__item">06</span>
                <span class="time-picker__item">07</span>
                <span class="time-picker__item">08</span>
                <span class="time-picker__item">09</span>
                <span class="time-picker__item">10</span>
                <span class="time-picker__item">11</span>
                <span class="time-picker__item">12</span>
                <span class="time-picker__item">13</span>
                <span class="time-picker__item">14</span>
                <span class="time-picker__item">15</span>
                <span class="time-picker__item">16</span>
                <span class="time-picker__item">17</span>
                <span class="time-picker__item">18</span>
                <span class="time-picker__item">19</span>
                <span class="time-picker__item">20</span>
                <span class="time-picker__item">21</span>
                <span class="time-picker__item">22</span>
                <span class="time-picker__item">23</span>
            </span>
        </span>
    </div>

    <div class="js-time-picker time-picker">
        <input class="time-picker__input input" type="number" name="" value="00" readonly>
        <span class="time-picker__dropdown">
            <span class="time-picker__items-list">
                <span class="time-picker__item">00</span>
                <span class="time-picker__item">01</span>
                <span class="time-picker__item">02</span>
                <span class="time-picker__item">03</span>
                <span class="time-picker__item">04</span>
                <span class="time-picker__item">05</span>
                <span class="time-picker__item">06</span>
                <span class="time-picker__item">07</span>
                <span class="time-picker__item">08</span>
                <span class="time-picker__item">09</span>
                <span class="time-picker__item">10</span>
                <span class="time-picker__item">11</span>
                <span class="time-picker__item">12</span>
                <span class="time-picker__item">13</span>
                <span class="time-picker__item">14</span>
                <span class="time-picker__item">15</span>
                <span class="time-picker__item">16</span>
                <span class="time-picker__item">17</span>
                <span class="time-picker__item">18</span>
                <span class="time-picker__item">19</span>
                <span class="time-picker__item">20</span>
                <span class="time-picker__item">21</span>
                <span class="time-picker__item">22</span>
                <span class="time-picker__item">23</span>
                <span class="time-picker__item">24</span>
                <span class="time-picker__item">25</span>
                <span class="time-picker__item">26</span>
                <span class="time-picker__item">27</span>
                <span class="time-picker__item">28</span>
                <span class="time-picker__item">29</span>
                <span class="time-picker__item">30</span>
                <span class="time-picker__item">31</span>
                <span class="time-picker__item">32</span>
                <span class="time-picker__item">33</span>
                <span class="time-picker__item">34</span>
                <span class="time-picker__item">35</span>
                <span class="time-picker__item">36</span>
                <span class="time-picker__item">37</span>
                <span class="time-picker__item">38</span>
                <span class="time-picker__item">39</span>
                <span class="time-picker__item">40</span>
                <span class="time-picker__item">41</span>
                <span class="time-picker__item">42</span>
                <span class="time-picker__item">43</span>
                <span class="time-picker__item">44</span>
                <span class="time-picker__item">45</span>
                <span class="time-picker__item">46</span>
                <span class="time-picker__item">47</span>
                <span class="time-picker__item">48</span>
                <span class="time-picker__item">49</span>
                <span class="time-picker__item">50</span>
                <span class="time-picker__item">51</span>
                <span class="time-picker__item">52</span>
                <span class="time-picker__item">53</span>
                <span class="time-picker__item">54</span>
                <span class="time-picker__item">55</span>
                <span class="time-picker__item">56</span>
                <span class="time-picker__item">57</span>
                <span class="time-picker__item">58</span>
                <span class="time-picker__item">59</span>
            </span>
        </span>
    </div>
</div>