<div class="box">
    <div class="box__title-block">
        <p class="box__title">Коммунальные услуги</p>
    </div>

    <div class="tabs-menu">
        <button class="button button--type_3 button--h_40" type="button">Электроэнергия</button>
        <button class="button button--type_2 button--h_40" type="button">Газоснабжение</button>
        <button class="button button--type_2 button--h_40" type="button">Водоотведение</button>
        <button class="button button--type_2 button--h_40" type="button">Другие</button>
    </div>

    <div class="counter-info">
        <p class="counter-info__title"><b>Номер счетчика:</b> 12345678</p>
        <p class="counter-info__date">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#calendar_icon" />
            </svg>
            <span class="counter-info__date-title">Дата следующей поверки</span>
            20.02.2025
        </p>
    </div>

    <div class="responsive-table">
        <table class="table comm-services-table">
            <tr>
                <th></th>
                <th>Январь</th>
                <th>Февраль</th>
                <th>Март</th>
                <th>Апрель</th>
                <th>Май</th>
                <th>Июнь</th>
                <th>Июль</th>
                <th>Август</th>
                <th>Сентябрь</th>
                <th>Октябрь</th>
                <th>Ноябрь</th>
                <th>Декабрь</th>
            </tr>
            <tr>
                <td class="color-grey">Опатили</td>
                <td>200 500 ₽</td>
                <td>210 500 ₽</td>
                <td>220 500 ₽</td>
                <td>230 500 ₽</td>
                <td>240 500 ₽</td>
                <td>250 500 ₽</td>
                <td>260 500 ₽</td>
                <td>270 500 ₽</td>
                <td>280 500 ₽</td>
                <td>290 500 ₽</td>
                <td>300 000 ₽</td>
                <td>300 000 ₽</td>
            </tr>
            <tr>
                <td class="color-grey">Собрали</td>
                <td class="color-green">
                    200 600 ₽
                    <svg class="triangle" aria-hidden="true">
                        <use xlink:href="images/sprite.svg#triangle_up" />
                    </svg>
                </td>
                <td class="color-red">
                    210 500 ₽
                    <svg class="triangle" aria-hidden="true">
                        <use xlink:href="images/sprite.svg#triangle_down" />
                    </svg>
                </td>
                <td>220 500 ₽</td>
                <td class="color-green">
                    230 500 ₽
                    <svg class="triangle" aria-hidden="true">
                        <use xlink:href="images/sprite.svg#triangle_up" />
                    </svg>
                </td>
                <td class="color-green">
                    240 500 ₽
                    <svg class="triangle" aria-hidden="true">
                        <use xlink:href="images/sprite.svg#triangle_up" />
                    </svg>
                </td>
                <td class="color-red">
                    250 500 ₽
                    <svg class="triangle" aria-hidden="true">
                        <use xlink:href="images/sprite.svg#triangle_down" />
                    </svg>
                </td>
                <td class="color-red">
                    260 500 ₽
                    <svg class="triangle" aria-hidden="true">
                        <use xlink:href="images/sprite.svg#triangle_down" />
                    </svg>
                </td>
                <td class="color-green">
                    270 500 ₽
                    <svg class="triangle" aria-hidden="true">
                        <use xlink:href="images/sprite.svg#triangle_up" />
                    </svg>
                </td>
                <td>280 500 ₽</td>
                <td>290 500 ₽</td>
                <td>300 000 ₽</td>
                <td>300 000 ₽</td>
            </tr>
        </table>
    </div>

    <div class="box__footer">
        <div class="box__footer-block">
            <div class="warning">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#alert_icon"></use>
                </svg>
                <span>Значительное отклонение показателей</span>
            </div>

            <div class="legend">
                <div class="legend__item status-green">
                    <div class="status-icon"></div> <span class="color-green">– Оплачено</span>
                </div>

                <div class="legend__item status-red">
                    <div class="status-icon"></div> <span class="color-red">– Не оплачено</span>
                </div>
            </div>
        </div>

        <a class="button button--type_1 button--h_40" href="#">
            <span>Подробнее</span>
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#arrow_top_right"></use>
            </svg>
        </a>
    </div>
</div>