<div class="box">
    <div class="box__title-block justify-content-center">
        <p class="box__title">Добро пожаловать!</p>
    </div>

    <p class="text-center">Для начала работы в системе вам необходимо завести в систему здания и арендуемые площади.</p>

    <p class="text-center">За подробной информацией о работе в системе, вы всегда можете обратиться в раздел <a href="/help">Помощь</a>.</p>

    <p class="text-center">
        <button class="button button--type_3 button--h_40" type="button" name="button" data-fancybox="add-new-object" data-src="#add-new-object">Добавить здание</button>
    </p>
</div>