<div class="box">
    <div class="box__title-block justify-content-spacebetween">
        <p class="box__title">
            Финансовое планирование
            <a class="button button--type_1 button--h_30" href="#">
                <span>Подробнее</span>
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#arrow_top_right" />
                </svg>
            </a>
        </p>

        <div class="chart-manage">
            <div class="pseudo-select">
                <button class="js-pseudo-select-toggler pseudo-select__value-wrapper" type="button">
                    <div class="pseudo-select__value">
                        <svg class="pseudo-select__icon" aria-hidden="true">
                            <use xlink:href="images/sprite.svg#calendar_icon" />
                        </svg>
                        <span>2024 год</span>
                    </div>
                    <svg class="pseudo-select__arrow" aria-hidden="true">
                        <use xlink:href="images/sprite.svg#chevron_down" />
                    </svg>
                </button>

                <div class="pseudo-select__dropdown">
                    <div class="pseudo-select__items-list">
                        <button class="pseudo-select__item is-active" type="button">2024 год</button>
                        <button class="pseudo-select__item" type="button">2023 год</button>
                        <button class="pseudo-select__item" type="button">2022 год</button>
                        <button class="pseudo-select__item" type="button">2021 год</button>
                        <button class="pseudo-select__item" type="button">2020 год</button>
                        <button class="pseudo-select__item" type="button">2019 год</button>
                        <button class="pseudo-select__item" type="button">2018 год</button>
                    </div>
                </div>
            </div>

            <div class="chart-manage__buttons">
                <button class="button button--type_2 button--h_40 button--square" type="button" title="Пирог">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#chart_pie_icon" />
                    </svg>
                </button>

                <button class="button button--type_3 button--h_40 button--square" type="button" title="Линия">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#chart_line_icon" />
                    </svg>
                </button>

                <button class="button button--type_2 button--h_40 button--square" type="button" title="Столбец">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#chart_columns_icon" />
                    </svg>
                </button>

                <button class="button button--type_2 button--h_40 button--square" type="button" title="Вектор">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#chart_vector_icon" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="chart-block">
        <img src="images/content/chart.svg" alt="">
    </div>

    <div class="chart-manage_2">
        <label class="switch blue">
            <input type="checkbox">
            <span class="switch__icon"></span>
            <span class="switch__text">Общая прибыль</span>
        </label>

        <label class="switch blue">
            <input type="checkbox" checked>
            <span class="switch__icon"></span>
            <span class="switch__text">Получено</span>
        </label>

        <label class="switch green">
            <input type="checkbox" checked>
            <span class="switch__icon"></span>
            <span class="switch__text">Свободные помещения</span>
        </label>

        <label class="switch red">
            <input type="checkbox" checked>
            <span class="switch__icon"></span>
            <span class="switch__text">Задолженность</span>
        </label>
    </div>
</div>