<div class="box">
    <div class="box__title-block justify-content-spacebetween">
        <p class="box__title">Свободные помещения</p>

        <div class="free-objects-manage">
            <label class="checkbox">
                <input type="checkbox">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Свободные</span>
            </label>

            <label class="checkbox">
                <input type="checkbox">
                <span class="checkbox__icon"></span>
                <span class="checkbox__text">Освобождаемые</span>
            </label>

            <button class="button button--type_4 button--type_4_1" type="button" title="Настройки">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#gear_icon" />
                </svg>
            </button>
        </div>
    </div>

    <div class="free-objects-filter">
        <div>
            <div class="select-wrapper select-wrapper--h_45">
                <select class="js-select" data-placeholder="Корпус">
                    <option></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
        </div>
        <div>
            <div class="select-wrapper select-wrapper--h_45">
                <select class="js-select" data-placeholder="Этаж">
                    <option></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </div>
        </div>
        <div>
            <div class="select-wrapper select-wrapper--h_45">
                <select class="js-select" data-placeholder="По площади">
                    <option></option>
                    <option value="1">от 50 до 70</option>
                    <option value="2">от 70 до 100</option>
                    <option value="3">от 100 до 130</option>
                    <option value="4">от 130 до 160</option>
                </select>
            </div>
        </div>
    </div>

    <div class="responsive-table">
        <table class="table free-objects-table">
            <tr>
                <th class="text-left">Наименование</th>
                <th>Площадь</th>
                <th>Фото</th>
                <th>Видео</th>
                <th>Ставка</th>
                <th>Мощность</th>
                <th>КУ за посл. период</th>
                <th>Др.показатели<br> по желанию</th>
            </tr>
            <tr>
                <td class="text-left"><span class="fw_600">Объект А</span></td>
                <td>50 м2</td>
                <td>
                    <a class="attach-link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#image_icon" />
                        </svg>
                        <span>PNG</span>
                    </a>
                </td>
                <td>
                    <a class="attach-link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#play_icon" />
                        </svg>
                        <span>AVI</span>
                    </a>
                </td>
                <td>1 300 ₽/м2</td>
                <td>25 кВт</td>
                <td>4 500 ₽</td>
                <td></td>
            </tr>
            <tr>
                <td class="text-left"><span class="fw_600">Объект B</span></td>
                <td>50 м2</td>
                <td>
                    <a class="attach-link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#image_icon" />
                        </svg>
                        <span>PNG</span>
                    </a>
                </td>
                <td>
                    <a class="attach-link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#play_icon" />
                        </svg>
                        <span>AVI</span>
                    </a>
                </td>
                <td>1 300 ₽/м2</td>
                <td>25 кВт</td>
                <td>4 500 ₽</td>
                <td></td>
            </tr>
            <tr>
                <td class="text-left"><span class="fw_600">Объект C</span></td>
                <td>50 м2</td>
                <td>
                    <a class="attach-link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#image_icon" />
                        </svg>
                        <span>PNG</span>
                    </a>
                </td>
                <td>
                    <a class="attach-link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#play_icon" />
                        </svg>
                        <span>AVI</span>
                    </a>
                </td>
                <td>1 300 ₽/м2</td>
                <td>25 кВт</td>
                <td>4 500 ₽</td>
                <td></td>
            </tr>
            <tr>
                <td class="text-left"><span class="fw_600">Объект D</span></td>
                <td>50 м2</td>
                <td>
                    <a class="attach-link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#image_icon" />
                        </svg>
                        <span>PNG</span>
                    </a>
                </td>
                <td>
                    <a class="attach-link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#play_icon" />
                        </svg>
                        <span>AVI</span>
                    </a>
                </td>
                <td>1 300 ₽/м2</td>
                <td>25 кВт</td>
                <td>4 500 ₽</td>
                <td></td>
            </tr>
            <tr>
                <td class="text-left"><span class="fw_600">Объект E</span></td>
                <td>50 м2</td>
                <td>
                    <a class="attach-link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#image_icon" />
                        </svg>
                        <span>PNG</span>
                    </a>
                </td>
                <td>
                    <a class="attach-link" href="#">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#play_icon" />
                        </svg>
                        <span>AVI</span>
                    </a>
                </td>
                <td>1 300 ₽/м2</td>
                <td>25 кВт</td>
                <td>4 500 ₽</td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="box__footer">
        <div class="buttons-group">
            <p class="buttons-group__title">Отправить КП:</p>
            <a class="button button--type_7" href="#">E-mail</a>
            <a class="button button--type_7" href="#">Telegram</a>
            <a class="button button--type_7" href="#">WhatsApp</a>
        </div>

        <div class="buttons-group">
            <p class="buttons-group__title">Создать фид:</p>
            <a class="button button--type_7" href="#">
                <img width="50" height="14" src="images/icons/logos/avito.png" alt="Avito">
            </a>
            <a class="button button--type_7" href="#">
                <img width="52" height="19" src="images/icons/logos/cian.png" alt="Циан" style="margin-top: -5px;">
            </a>
            <a class="button button--type_7" href="#">
                <img width="48" height="14" src="images/icons/logos/yandex.png" alt="Яндекс">
            </a>
        </div>
    </div>
</div>