<div class="box">
    <div class="box__title-block justify-content-spacebetween">
        <p class="box__title">Мои задачи</p>

        <div class="tabs-menu_2">
            <button class="button button--h_30 button--type_8 status-blue is-active" type="button">
                <span>Ближайшие</span>
                <span class="cnt">10</span>
            </button>

            <button class="button button--h_30 button--type_8 status-red" type="button">
                <span>Просроченные</span>
                <span class="cnt">2</span>
            </button>
        </div>
    </div>

    <div class="tasks-list">
        <div class="task status-blue">
            <div class="task__title-block">
                <span class="status-icon"></span>
                <span class="task__title">Поставить задачу электрику</span>
            </div>
            <div class="task__date">до 20.02.24</div>
        </div>

        <div class="task status-blue">
            <div class="task__title-block">
                <span class="status-icon"></span>
                <span class="task__title">Получить оригиналы документов</span>
            </div>
            <div class="task__date">до 20.02.24</div>
        </div>

        <div class="task status-blue">
            <div class="task__title-block">
                <span class="status-icon"></span>
                <span class="task__title">Разослать документы</span>
            </div>
            <div class="task__date">до 20.02.24</div>
        </div>

        <div class="task status-red">
            <div class="task__title-block">
                <span class="status-icon"></span>
                <span class="task__title">Получить оригиналы документов</span>
            </div>
            <div class="task__date">18.04.2024</div>
        </div>
    </div>

    <a class="button button--h_50 button--wide button--type_9" href="#">Все задачи</a>
</div>