<div class="box">
    <div class="box__title-block justify-content-spacebetween">
        <p class="box__title">Уведомления</p>
        <a class="button button--type_4" href="#">
            <span>Смотреть все</span>
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#arrow_top_right" />
            </svg>
        </a>
    </div>

    <div class="notification status-red status-red-filled">
        <div class="notification__title-block">
            <span class="notification__text-status">Новое</span>
            <span class="notification__title">Долг за аренду ООО «Ромашка»</span>
        </div>
        <div class="notification__date">28.02.2024</div>
        <svg class="notification__arrow-icon" aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_right" />
        </svg>
    </div>

    <div class="notification status-red status-red-filled">
        <div class="notification__title-block">
            <span class="notification__text-status">Новое</span>
            <span class="notification__title">Долг за аренду ООО «Ромашка»</span>
        </div>
        <div class="notification__date">28.02.2024</div>
        <svg class="notification__arrow-icon" aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_right" />
        </svg>
    </div>

    <div class="notification status-red">
        <div class="notification__title-block">
            <span class="notification__status"></span>
            <span class="notification__title">Долг за аренду ООО «Ромашка»</span>
        </div>
        <div class="notification__date">28.02.2024</div>
        <svg class="notification__arrow-icon" aria-hidden="true">
            <use xlink:href="images/sprite.svg#chevron_right" />
        </svg>
    </div>
</div>