<div class="box">
    <div class="box__title-block justify-content-center">
        <p class="box__title">В данный момент в систме нет площадей</p>
    </div>

    <p class="text-center">Для начала работы в системе вам необходимо завести в систему арендуемые площади.</p>

    <p class="text-center">За подробной информацией о работе в системе, вы всегда можете обратиться в раздел <a href="/help">Помощь</a>.</p>

    <p class="text-center">
        <button class="button button--type_3 button--h_40" type="button" name="button" data-fancybox="add-square" data-src="#add-square">Добавить площадь</button>
    </p>
</div>