<div class="box">
    <div class="box__title-block justify-content-spacebetween">
        <p class="box__title">Автоподсказки</p>

        <label class="switch blue">
            <input type="checkbox" checked>
            <span class="switch__text">Получать уведомления</span>
            <span class="switch__icon"></span>
        </label>
    </div>

    <div class="responsive-table">
        <table class="table notify-settings-table">

            <tr>
                <th class="text-left">
                    <label class="checkbox">
                        <input class="js-select-all" data-checkbox="1" type="checkbox">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Основные</span>
                    </label>
                </th>
                <th>
                    <label class="checkbox">
                        <input class="js-select-all" data-checkbox="2" type="checkbox">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Push-уведомления</span>
                    </label>
                </th>
                <th>
                    <label class="checkbox">
                        <input class="js-select-all" data-checkbox="3" type="checkbox">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">E-mail</span>
                    </label>
                </th>
                <th>
                    <label class="checkbox">
                        <input class="js-select-all" data-checkbox="4" type="checkbox">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Мобильные</span>
                    </label>
                </th>
                <th>
                    <label class="checkbox">
                        <input class="js-select-all" data-checkbox="5" type="checkbox">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Браузер</span>
                    </label>
                </th>
                <th>
                    <label class="checkbox">
                        <input class="js-select-all" data-checkbox="6" type="checkbox">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Социальные сети</span>
                    </label>
                </th>
            </tr>
            <tr>
                <td class="text-left">
                    <label class="checkbox">
                        <input data-checkbox="1" type="checkbox">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Входящая почта</span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="2" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="3" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="4" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="5" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="6" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <label class="checkbox">
                        <input data-checkbox="1" type="checkbox">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Задачи: Вам поставлена новая задача</span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="2" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="3" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="4" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="5" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="6" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <label class="checkbox">
                        <input data-checkbox="1" type="checkbox">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Задачи: за 5 минут до выполнения задачи</span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="2" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="3" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="4" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="5" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="6" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    <label class="checkbox">
                        <input data-checkbox="1" type="checkbox">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Задачи: Поставленная задача выполнена</span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="2" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="3" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="4" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="5" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
                <td>
                    <label class="checkbox">
                        <input data-checkbox="6" type="checkbox">
                        <span class="checkbox__icon"></span>
                    </label>
                </td>
            </tr>
        </table>
    </div>
</div>