<div class="box">
    <div class="box__title-block justify-content-spacebetween">
        <p class="box__title">Права и роли</p>
    </div>

    <div class="responsive-table">
        <table class="table roles-table">
            <tr>
                <th class="text-left">Имя</th>
                <th class="text-left">Должность</th>
                <th class="text-left">Группа</th>
                <th class="text-left">Телефон</th>
                <th class="text-left">Электронный адрес</th>
                <th class="text-left">Открытые группы</th>
            </tr>
            <tr>
                <td>
                    <div class="user">
                        <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg 2x" alt="">
                        <span>Сидоров Иван Петрович</span>
                    </div>
                </td>
                <td class="color-grey text-left">Администратор</td>
                <td class="color-grey text-left">Основная</td>
                <td class="color-grey text-left">+7 999 99 99 99</td>
                <td class="color-grey text-left">mailmailmail@mail.com</td>
                <td class="text-left">
                    <div class="groups">
                        <div class="group group--blue">Группа 1</div>
                        <div class="group group--orange">Группа 2</div>
                        <div class="group group--red">Группагруппагруппа 3</div>
                        <div class="group group--yellow">Группа 4</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="user">
                        <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg 2x" alt="">
                        <span>Сидоров Иван Петрович</span>
                    </div>
                </td>
                <td class="color-grey text-left">Администратор</td>
                <td class="color-grey text-left">Основная</td>
                <td class="color-grey text-left">+7 999 99 99 99</td>
                <td class="color-grey text-left">mailmailmail@mail.com</td>
                <td class="text-left">
                    <div class="groups">
                        <div class="group group--blue">Группа 1</div>
                        <div class="group group--red">Группагруппагруппа 3</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="user">
                        <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg 2x" alt="">
                        <span>Сидоров Иван Петрович</span>
                    </div>
                </td>
                <td class="color-grey text-left">Администратор</td>
                <td class="color-grey text-left">Основная</td>
                <td class="color-grey text-left">+7 999 99 99 99</td>
                <td class="color-grey text-left">mailmailmail@mail.com</td>
                <td class="text-left">
                    <div class="groups">
                        <div class="group group--blue">Группа 1</div>
                        <div class="group group--green">Группагруппа 2</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="user">
                        <img src="images/content/avatar.jpg" srcset="images/content/avatar@2x.jpg 2x" alt="">
                        <span>Сидоров Иван Петрович</span>
                    </div>
                </td>
                <td class="color-grey text-left">Администратор</td>
                <td class="color-grey text-left">Основная</td>
                <td class="color-grey text-left">+7 999 99 99 99</td>
                <td class="color-grey text-left">mailmailmail@mail.com</td>
                <td class="text-left">
                    <div class="groups">
                        <div class="group group--blue">Группа 1</div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>