<div class="box">
    <div class="box__title-block justify-content-spacebetween">
        <p class="box__title">Связанные юр. лица</p>
    </div>

    <div class="responsive-table">
        <table class="table objects-table">
            <tbody>
                <tr>
                    <th class="text-left">
                        Название организации
                    </th>
                    <th class="text-left">
                        Контактный телефон
                    </th>
                    <th class="text-left">
                        Email
                    </th>
                </tr>
                <tr>
                    <td class="text-left">
                        <a href="#">ООО "Рога и копыта"</a>
                    </td>
                    <td class="text-left">
                        +7968644871
                    </td>
                    <td class="text-left">
                        mail@email.com
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>