<div class="box">
    <div class="box__title-block justify-content-spacebetween">
        <p class="box__title">Арендуемые помещения</p>
    </div>

    <div class="responsive-table">
        <table class="table objects-table">
            <tbody>
                <tr>
                    <th class="text-left">
                        Объект
                    </th>
                    <th class="text-left">
                        № договора
                    </th>
                    <th class="text-left">
                        Дата заключения
                    </th>
                </tr>
                <tr>
                    <td class="text-left">
                        <a href="#">офис 202</a>
                    </td>
                    <td class="text-left">
                        <a href="#">21</a>
                    </td>
                    <td class="text-left">
                        21.02.2002
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>