<div class="box renter-detail">
    <div class="renter-detail__top">
        <a class="renter-detail__back button button--h_40" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#chevron_left" />
            </svg>
            <span>Назад</span>
        </a>

        <button class="button button--type_1 button--h_45" type="button">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#edit_2_icon"></use>
            </svg>
            <span>Редактировать</span>
        </button>
    </div>

    <div class="renter-detail__title-block">
        <p class="renter-detail__title">ООО «Ромашка»</p>

        <div class="text-status_2 status-red">
            <div class="status-icon"></div>
            Задолженность
        </div>
    </div>

    <div class="renter-detail__columns">
        <div class="renter-detail__column">
            <div class="renter-detail__info">
                <div class="renter-detail__info-item">
                    <p class="renter-detail__info-title">Название</p>
                    <p>ООО "Ромашка"</p>
                </div>

                <div class="renter-detail__info-item">
                    <p class="renter-detail__info-title">Юр. лицо</p>
                    <p>ООО "Ромашка-Трейд"</p>
                </div>

                <div class="renter-detail__info-item">
                    <p class="renter-detail__info-title">Группа компаний</p>
                    <p>Ромашки</p>
                </div>

                <div class="renter-detail__info-item">
                    <p class="renter-detail__info-title">Телефон</p>
                    <p>+7(981) 777-55-86</p>
                </div>

                <div class="renter-detail__info-item">
                    <p class="renter-detail__info-title">Email</p>
                    <p><a href="mailto:mail@mail.ru" target="_blank">mail@mail.ru</a></p>
                </div>

                <div class="renter-detail__info-item">
                    <p class="renter-detail__info-title">Сайт</p>
                    <p><a href="#" target="_blank">www.romashka.ru</a></p>
                </div>
            </div>
        </div>

        <div class="renter-detail__column">
            <div class="renter-detail__about">
                <p><b>Реквизиты</b></p>

                <div class="spoiler">
                    <div class="spoiler__body">
                        <p><b>Название:</b> ООО "Ромашка-Трейд"</p>
                        <p><b>Юр. адрес:</b> г. Санкт-Петербург, ул. Ленина д. 1, пом. 15</p>
                        <p><b>Физ. адрес:</b> г. Санкт-Петербург, ул. Ленина д. 1, пом. 15</p>
                        <p><b>ИНН</b> 782212112</p>
                        <p><b>КПП</b> 782321121</p>
                        <p><b>ОГРН</b> 12315615613</p>
                        <p><b>Расс. счет</b> 7851231233321321</p>
                        <p><b>Корр. счет</b> 7821321121300000</p>
                        <p>в банке АО "Сбербанк"</p>
                        <p><b>Ген. дир.</b> Иванов. А.А.</p>
                        <p><b>Бухгалтер</b> Сидоров В.В.</p>
                    </div>

                    <button class="js-spoiler-toggler spoiler__toggler" type="button">
                        <span>Показать полностью</span>
                        <svg class="spoiler__toggler-arrow" aria-hidden="true">
                            <use xlink:href="images/sprite.svg#chevron_down"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>