<div id="action-confirm-1" class="popup popup--620">
    <p class="popup__title">Отменить изменения?</p>
    <p>Вы уверены что хотите отменить изменения?</p>

    <div class="popup__bottom">
        <div class="popup__buttons">
            <button class="button button--type_3 button--h_60" type="button">Сбросить</button>
            <button class="js-popup-close button button--type_2 button--h_60" type="button">Отменить</button>
        </div>
    </div>
</div>

<div id="action-confirm-2" class="popup popup--620">
    <p class="popup__title text-center">Отменить изменения?</p>
    <p class="text-center">Вы уверены что хотите отменить изменения?</p>

    <div class="popup__bottom">
        <div class="popup__buttons popup__buttons--type_2">
            <button class="button button--type_3 button--h_60" type="button">Сбросить</button>
            <button class="js-popup-close button button--type_2 button--h_60" type="button">Отменить</button>
        </div>
    </div>
</div>

<div id="action-confirm-3" class="popup popup--620">
    <p class="popup__title">Подтвердить удаление</p>
    <p>Вы уверены что хотите удалить выбранный элемент?</p>

    <div class="popup__bottom">
        <div class="popup__buttons">
            <button class="button button--type_3 button--h_60" type="button">Удалить</button>
            <button class="js-popup-close button button--type_2 button--h_60" type="button">Отменить</button>
        </div>
    </div>
</div>

<div id="action-confirm-4" class="popup popup--620">
    <p class="popup__title text-center">Подтвердить удаление</p>
    <p class="text-center">Вы уверены что хотите удалить выбранный элемент?</p>

    <div class="popup__bottom">
        <div class="popup__buttons popup__buttons--type_2">
            <button class="button button--type_3 button--h_60" type="button">Удалить</button>
            <button class="js-popup-close button button--type_2 button--h_60" type="button">Отменить</button>
        </div>
    </div>
</div>