<!--<div id="add-new-object" class="popup popup--920 new-object-popup">
    <div id="js-new-object-step-1">
        <p class="popup__title">Шаг 1. Новый объект</p>

        <div class="new-object">
            <p class="new-object__title">Объект 1</p>

            <div>
                <div class="form-row form-row--centered">
                    <label class="form-label" for="new_object_title">Название</label>

                    <input id="new_object_title" class="input grow" type="text" name="new_object_title" value="">
                </div>

                <div class="form-row form-row--centered">
                    <label class="form-label" for="new_object_square">Общая площадь, м2</label>

                    <input id="new_object_square" class="input w_80" type="text" name="new_object_square" value="">
                </div>

                <div class="form-row form-row--centered">
                    <label class="form-label" for="new_object_liter">Литера</label>

                    <input id="new_object_liter" class="input w_80" type="text" name="new_object_liter" value="">

                    <label class="checkbox">
                        <input type="checkbox" name="" value="">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Без литеры</span>
                    </label>
                </div>

                <div class="form-row form-row--centered">
                    <label class="form-label" for="new_object_floors">Кол-во этажей</label>

                    <input id="new_object_floors" class="input w_80" type="text" name="new_object_floors" value="">
                </div>
            </div>
        </div>

        <div id="js-new-object" class="new-object" style="display: none">
            <div class="new-object__title-block">
                <p class="new-object__title">Объект 2</p>

                <button id="js-hide-new-object" class="new-object-popup__delete button button--type_6" type="button">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#circle_minus_icon"></use>
                    </svg>
                    Удалить объект
                </button>
            </div>

            <div>
                <div class="form-row form-row--centered">
                    <label class="form-label" for="new_object_title">Название</label>

                    <input id="new_object_title" class="input grow" type="text" name="new_object_title" value="">
                </div>

                <div class="form-row form-row--centered">
                    <label class="form-label" for="new_object_square">Общая площадь, м2</label>

                    <input id="new_object_square" class="input w_80" type="text" name="new_object_square" value="">
                </div>

                <div class="form-row form-row--centered">
                    <label class="form-label" for="new_object_liter">Литера</label>

                    <input id="new_object_liter" class="input w_80" type="text" name="new_object_liter" value="">

                    <label class="checkbox">
                        <input type="checkbox" name="" value="">
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Без литеры</span>
                    </label>
                </div>

                <div class="form-row form-row--centered">
                    <label class="form-label" for="new_object_floors">Кол-во этажей</label>

                    <input id="new_object_floors" class="input w_80" type="text" name="new_object_floors" value="">
                </div>
            </div>
        </div>

        <div class="popup__bottom">
            <button id="js-show-new-object" class="button button--type_5 button--h_60" type="button">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
                </svg>
                Добавить дополнительный объект
            </button>

            <div class="popup__buttons">
                <button class="js-popup-close button button--type_2 button--h_60" type="button">Отменить</button>
                <button id="js-show-new-object-step-2" class="button button--type_3 button--h_60" type="button">Далее</button>
            </div>
        </div>
    </div>

    <div id="js-new-object-step-2" style="display: none">
        <p class="popup__title">Шаг 2. Загрузите план</p>

        <div class="popup-accordion">
            <button class="js-popup-accordion-toggler popup-accordion__toggler is-active" type="button">
                БЦ Возрождение, Литера 1 - 900 м2

                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down_2" />
                </svg>
            </button>

            <div class="popup-accordion__body" style="display: block">
                <div>
                    <div class="floor-block form-row form-row--centered">
                        <button class="new-object-popup__delete button button--type_6" type="button">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#circle_minus_icon"></use>
                            </svg>
                            Удалить объект
                        </button>

                        <label class="form-label" for="new_object_floor">Этаж</label>

                        <input id="new_object_floor" class="input w_80" type="text" name="new_object_floor" value="1">
                    </div>

                    <div class="form-row">
                        <label class="form-label" for="new_object_plan">План БТИ</label>

                        <label class="input-file">
                            <input type="file">
                            <span class="input-file__text">Выбрать файл</span>
                        </label>
                    </div>
                </div>

                <hr>

                <div>
                    <div class="floor-block form-row form-row--centered">
                        <button class="new-object-popup__delete button button--type_6" type="button">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#circle_minus_icon"></use>
                            </svg>
                            Удалить объект
                        </button>

                        <label class="form-label" for="new_object_floor">Этаж</label>

                        <input id="new_object_floor" class="input w_80" type="text" name="new_object_floor" value="2">
                    </div>

                    <div class="form-row">
                        <label class="form-label" for="new_object_plan">План БТИ</label>

                        <div class="input-file-wrapper">
                            <div class="input-file-info">
                                <div class="input-file-info__type-block">
                                    <svg class="input-file-info__type" aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#image_icon"></use>
                                    </svg>

                                    <span>PNG</span>

                                    <svg class="input-file-info__check" aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#check_icon"></use>
                                    </svg>
                                </div>

                                <button class="input-file-info__delete">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#delete_icon"></use>
                                    </svg>
                                    Удалить
                                </button>
                            </div>

                            <label class="input-file">
                                <input type="file">
                                <span class="input-file__text">Выбрать другой...</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popup-accordion">
            <button class="js-popup-accordion-toggler popup-accordion__toggler" type="button">
                БЦ Космос, Литера 2 - 1200 м2

                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#chevron_down_2" />
                </svg>
            </button>

            <div class="popup-accordion__body">
                <div>
                    <div class="floor-block form-row form-row--centered">
                        <button class="new-object-popup__delete button button--type_6" type="button">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#circle_minus_icon"></use>
                            </svg>
                            Удалить объект
                        </button>

                        <label class="form-label" for="new_object_floor">Этаж</label>

                        <input id="new_object_floor" class="input w_80" type="text" name="new_object_floor" value="1">
                    </div>

                    <div class="form-row">
                        <label class="form-label" for="new_object_plan">План БТИ</label>

                        <label class="input-file">
                            <input type="file">
                            <span class="input-file__text">Выбрать файл</span>
                        </label>
                    </div>
                </div>

                <hr>

                <div>
                    <div class="floor-block form-row form-row--centered">
                        <button class="new-object-popup__delete button button--type_6" type="button">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#circle_minus_icon"></use>
                            </svg>
                            Удалить объект
                        </button>

                        <label class="form-label" for="new_object_floor">Этаж</label>

                        <input id="new_object_floor" class="input w_80" type="text" name="new_object_floor" value="2">
                    </div>

                    <div class="form-row">
                        <label class="form-label" for="new_object_plan">План БТИ</label>

                        <div class="input-file-wrapper">
                            <div class="input-file-info">
                                <div class="input-file-info__type-block">
                                    <svg class="input-file-info__type" aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#image_icon"></use>
                                    </svg>

                                    <span>PNG</span>

                                    <svg class="input-file-info__check" aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#check_icon"></use>
                                    </svg>
                                </div>

                                <button class="input-file-info__delete">
                                    <svg aria-hidden="true">
                                        <use xlink:href="images/sprite.svg#delete_icon"></use>
                                    </svg>
                                    Удалить
                                </button>
                            </div>

                            <label class="input-file">
                                <input type="file">
                                <span class="input-file__text">Выбрать другой...</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popup__bottom">
            <div></div>

            <div class="popup__buttons">
                <button id="js-show-new-object-step-1" class="button button--type_2 button--h_60" type="button">Назад</button>
                <button class="button button--type_3 button--h_60" type="button">Добавить</button>
            </div>
        </div>
    </div>
</div>-->

<div id="add-new-object" class="popup popup--920 new-object-popup">
    <p class="popup__title">Добавление нового объекта (здание)</p>

    <div class="new-object">
        <div class="form-row form-row--centered">
            <label class="form-label" for="new_object_title">Название</label>

            <input id="new_object_title" class="input grow" type="text" name="new_object_title" value="" placeholder="Например: БЦ Возрождение">
        </div>

        <div class="form-row form-row--centered">
            <label class="form-label" for="new_object_address">Адрес</label>

            <input id="new_object_address" class="input grow" type="text" name="new_object_address" value="" placeholder="Например: г. Санкт-Петербург, пр-т Просвещения д. 1 лит. А">
        </div>

        <div class="form-row form-row--centered">
            <label class="form-label" for="new_object_liter">Литера / корпус</label>

            <div>
                <div class="form-row">
                    <input id="new_object_liter" class="input w_180" type="text" name="new_object_liter" value="" disabled>

                    <label class="checkbox">
                        <input id="litera_korpus" type="checkbox" name="" value="" checked>
                        <span class="checkbox__icon"></span>
                        <span class="checkbox__text">Без литеры /корпуса</span>
                    </label>
                </div>

                <div class="input-caption">Заполняется, если объект состоит из нескольких зданий</div>
            </div>
        </div>

        <div class="form-row form-row--centered">
            <label class="form-label" for="new_object_square">Общая площадь, м2</label>

            <input id="new_object_square" class="input w_180" type="text" name="new_object_square" value="">
        </div>

        <div class="form-row form-row--centered">
            <label class="form-label" for="new_object_floors">Кол-во этажей</label>

            <input id="new_object_floors" class="input w_180" type="text" name="new_object_floors" value="">
        </div>

        <div class="form-row form-row--centered">
            <label class="form-label" for="new_object_info">Доп. информация</label>

            <textarea id="new_object_info" class="textarea grow" name="new_object_info"></textarea>
        </div>

        <p class="new-object__title">Этажи и планы</p>

        <div>
            <div class="floor-block form-row form-row--centered">
                <label class="form-label" for="new_object_floor">Этаж</label>

                <input id="new_object_floor" class="input w_80" type="text" name="new_object_floor" value="1">
            </div>

            <div class="form-row">
                <label class="form-label" for="new_object_plan">План БТИ</label>

                <label class="input-file">
                    <input type="file">
                    <span class="input-file__text">Выбрать файл</span>
                </label>
            </div>
        </div>

        <hr>

        <div>
            <div class="floor-block form-row form-row--centered">
                <button class="new-object-popup__delete button button--type_6" type="button">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#circle_minus_icon"></use>
                    </svg>
                    Удалить этаж
                </button>

                <label class="form-label" for="new_object_floor">Этаж</label>

                <input id="new_object_floor" class="input w_80" type="text" name="new_object_floor" value="2">
            </div>

            <div class="form-row">
                <label class="form-label" for="new_object_plan">План БТИ</label>

                <div class="input-file-wrapper">
                    <div class="input-file-info">
                        <div class="input-file-info__type-block">
                            <svg class="input-file-info__type" aria-hidden="true">
                                <use xlink:href="images/sprite.svg#image_icon"></use>
                            </svg>

                            <span>PNG</span>

                            <svg class="input-file-info__check" aria-hidden="true">
                                <use xlink:href="images/sprite.svg#check_icon"></use>
                            </svg>
                        </div>

                        <button class="input-file-info__delete">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#delete_icon"></use>
                            </svg>
                            Удалить файл
                        </button>
                    </div>

                    <label class="input-file">
                        <input type="file">
                        <span class="input-file__text">Выбрать другой...</span>
                    </label>
                </div>
            </div>
        </div>

        <hr>

        <button class="button button--type_6" type="button">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
            </svg>
            Добавить этаж
        </button>
    </div>

    <div class="popup__bottom">
        <div></div>
        <div class="popup__buttons">
            <button class="js-popup-close button button--type_2 button--h_60" type="button">Отменить</button>
            <button class="button button--type_3 button--h_60" type="button">Сохранить</button>
        </div>
    </div>
</div>