<div id="add-new-object" class="popup popup--920 new-object-popup">
    <p class="popup__title">Добавление нового здания / группы зданий</p>

    <div class="new-object">
        <div class="form-row form-row--centered">
            <label class="form-label" for="new_object_title">Название<span class="required">*</span></label>

            <input id="new_object_title" class="input grow" type="text" name="new_object_title" value="" placeholder="Например: БЦ Возрождение">
        </div>

        <div class="form-row form-row--centered">
            <label class="form-label" for="new_object_type">Тип<span class="required">*</span></label>

            <div class="select-wrapper select-wrapper--h_60 grow">
                <select id="new_object_type" class="js-select" data-placeholder="Тип">
                    <option></option>
                    <option value="1">Бизнес центр</option>
                    <option value="2">Торговый центр</option>
                    <option value="3">Складское помещение</option>
                    <option value="4">Промышленное помещение</option>
                    <option value="5">Жилая площадь</option>
                </select>
            </div>
        </div>

        <div class="form-row form-row--centered">
            <label class="form-label" for="new_object_liter">Группа зданий</label>

            <div class="objects-group-checkbox">
                <label class="checkbox">
                    <input id="objects_group" type="checkbox" name="" value="">
                    <span class="checkbox__icon"></span>
                    <span class="checkbox__text">Группа зданий</span>
                </label>

                <div class="input-caption">Отметьте галочкой, если объект состоит из нескольких зданий и сможете добавить несколько адресов</div>
            </div>
        </div>

        <div id="one_address" class="form-block">
            <div class="form-row form-row--centered">
                <label class="form-label" for="new_object_address">Адрес<span class="required">*</span></label>

                <input id="new_object_address" class="input grow" type="text" name="new_object_address" value="" placeholder="Например: г. Санкт-Петербург, пр-т Просвещения д. 1 лит. А">
            </div>

            <div class="form-row form-row--centered">
                <label class="form-label" for="new_object_square">Общая площадь, м2</label>

                <input id="new_object_square" class="input w_180" type="text" name="new_object_square" value="">
            </div>

            <div class="form-row form-row--centered">
                <label class="form-label" for="new_object_floors">Кол-во этажей</label>

                <input id="new_object_floors" class="input w_180" type="text" name="new_object_floors" value="">
            </div>
        </div>

        <div id="few_addresses" class="form-block" style="display: none">
            <div class="form-row form-row--centered">
                <label class="form-label" for="new_object_names">Обозначение зданий<span class="required">*</span></label>

                <div class="grow">
                    <div class="select-wrapper select-wrapper--h_60">
                        <select id="new_object_names" class="js-select" data-placeholder="Обозначение зданий">
                            <option></option>
                            <option value="1">Корпус</option>
                            <option value="2">Литера</option>
                            <option value="3">Секция</option>
                            <option value="4">Строение</option>
                        </select>
                    </div>

                    <div class="input-caption">Выберите вариант обозначения зданий</div>
                </div>
            </div>

            <p class="new-object__title">Здание 1</p>

            <div class="form-row form-row--centered">
                <label class="form-label" for="new_object_name">Корпус<span class="required">*</span></label>

                <input id="new_object_name" class="input w_180" type="text" name="new_object_name" value="" placeholder="">
            </div>

            <div class="form-row form-row--centered">
                <label class="form-label" for="new_object_address_1">Адрес здания 1<span class="required">*</span></label>

                <input id="new_object_address_1" class="input grow" type="text" name="new_object_address_1" value="" placeholder="Например: г. Санкт-Петербург, пр-т Просвещения д. 1 лит. А">
            </div>

            <div class="form-row form-row--centered">
                <label class="form-label" for="new_object_square">Общая площадь, м2</label>

                <input id="new_object_square" class="input w_180" type="text" name="new_object_square" value="">
            </div>

            <div class="form-row form-row--centered">
                <label class="form-label" for="new_object_floors">Кол-во этажей</label>

                <input id="new_object_floors" class="input w_180" type="text" name="new_object_floors" value="">
            </div>

            <hr>

            <p class="new-object__title">Здание 2</p>

            <div class="form-row form-row--centered">
                <label class="form-label" for="new_object_name">Корпус<span class="required">*</span></label>

                <input id="new_object_name" class="input w_180" type="text" name="new_object_name" value="" placeholder="">
            </div>

            <div class="form-row form-row--centered">
                <label class="form-label" for="new_object_address_2">Адрес здания 2<span class="required">*</span></label>

                <div class="input-group">
                    <input id="new_object_address_2" class="input grow" type="text" name="new_object_address_2" value="" placeholder="Например: г. Санкт-Петербург, пр-т Просвещения д. 1 лит. А">

                    <button class="new-object-popup__delete button button--type_6" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#circle_minus_icon"></use>
                        </svg>
                        Удалить здание
                    </button>
                </div>
            </div>

            <div class="form-row form-row--centered">
                <label class="form-label" for="new_object_square">Общая площадь, м2</label>

                <input id="new_object_square" class="input w_180" type="text" name="new_object_square" value="">
            </div>

            <div class="form-row form-row--centered">
                <label class="form-label" for="new_object_floors">Кол-во этажей</label>

                <input id="new_object_floors" class="input w_180" type="text" name="new_object_floors" value="">
            </div>

            <hr>

            <button class="button button--type_6" type="button">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#circle_plus_icon"></use>
                </svg>
                Добавить здание
            </button>
        </div>

        <hr>

        <div class="form-row form-row--centered">
            <label class="form-label" for="new_object_info">Доп. информация</label>

            <textarea id="new_object_info" class="textarea grow" name="new_object_info"></textarea>
        </div>
    </div>

    <div class="popup__bottom">
        <div></div>
        <div class="popup__buttons">
            <button class="js-popup-close button button--type_2 button--h_60" type="button">Отменить</button>
            <button class="button button--type_3 button--h_60" type="button">Сохранить</button>
        </div>
    </div>
</div>

<div id="buildings-group-delete" class="popup popup--620">
    <p class="popup__title text-center">Подтвердить удаление</p>
    <p class="text-center">Вы уверены что хотите удалить выбранный элемент?</p>
    <p class="text-center">Удаление группы зданий необратимое действие и повлечёт за собой удаление прикреплённых к ней зданий.</p>

    <div class="popup__bottom">
        <div class="popup__buttons popup__buttons--type_2">
            <button class="button button--type_3 button--h_60" type="button">Удалить</button>
            <button class="js-popup-close button button--type_2 button--h_60" type="button">Отменить</button>
        </div>
    </div>
</div>

<div id="building-delete" class="popup popup--620">
    <p class="popup__title text-center">Подтвердить удаление</p>
    <p class="text-center">Вы уверены что хотите удалить выбранный элемент?</p>

    <div class="popup__bottom">
        <div class="popup__buttons popup__buttons--type_2">
            <button class="button button--type_3 button--h_60" type="button">Удалить</button>
            <button class="js-popup-close button button--type_2 button--h_60" type="button">Отменить</button>
        </div>
    </div>
</div>