<div id="inn-fill" class="popup popup--620">
    <p class="popup__title">Заполение реквизитов по ИНН</p>

    <div class="search">
        <form class="search__form" action="">
            <div class="search__form-inner">
                <input class="input search__input" type="text" placeholder="Укажите ИНН">
                <button class="search__submit button button--type_3 button--h_60" type="submit" title="Найти">Найти реквизиты</button>
            </div>
        </form>
    </div>

    <div class="popup__bottom">
        <div class="popup__buttons">
            <button class="button button--type_3 button--h_60" type="button">Заполнить</button>
            <button class="js-popup-close button button--type_2 button--h_60" type="button">Отменить</button>
        </div>
    </div>
</div>