<div id="new-contact" class="popup popup--620">
    <p class="popup__title">Новый контакт</p>

    <div>
        <div class="form-row form-row--centered">
            <label class="form-label" for="new-contact-name">Имя</label>

            <div class="grow">
                <input id="new-contact-name" class="input" name="new-contact-name" type="text" placeholder="">
            </div>
        </div>

        <div class="form-row form-row--centered">
            <label class="form-label" for="new-contact-place">Должность</label>

            <div class="grow">
                <input id="new-contact-place" class="input" name="new-contact-place" type="text" placeholder="">
            </div>
        </div>

        <div class="form-row form-row--centered">
            <label class="form-label" for="new-contact-phone">Телефон</label>

            <div class="grow">
                <input id="new-contact-phone" class="input" name="new-contact-phone" type="text" placeholder="">
            </div>
        </div>

        <div class="form-row form-row--centered">
            <label class="form-label" for="new-contact-email">Электронная почта</label>

            <div class="grow">
                <input id="new-contact-email" class="input" name="new-contact-email" type="text" placeholder="">
            </div>
        </div>

        <div class="form-row">
            <label class="form-label" for="new-contact-comment">Комментарий</label>

            <div class="grow">
                <textarea id="new-contact-comment" class="textarea" placeholder=""></textarea>
            </div>
        </div>
    </div>

    <div class="popup__bottom">
        <div class="popup__buttons">
            <button class="button button--type_3 button--h_60" type="button">Добавить</button>
            <button class="js-popup-close button button--type_2 button--h_60" type="button">Отменить</button>
        </div>
    </div>
</div>