<div class="box bld-detail">
    <div class="bld-detail__top">
        <a class="bld-detail__back button button--h_40 button--type_17" href="#">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#chevron_left" />
            </svg>
            <span>Назад</span>
        </a>

        <div class="bld-detail__top-buttons">
            <button class="button button--type_1 button--h_45" type="button">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#edit_2_icon"></use>
                </svg>
                <span>Редактировать</span>
            </button>

            <button class="button button--type_1 button--h_45" type="button" data-fancybox="add-new-floor" data-src="#add-new-floor">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#edit_2_icon"></use>
                </svg>
                <span>Добавить этажи</span>
            </button>
        </div>
    </div>

    <div class="bld-detail__title-block">
        <p class="bld-detail__title">БЦ Возрождение - литера В</p>
    </div>

    <div class="bld-detail__columns">
        <div class="bld-detail__column">
            <div class="bld-detail__info">
                <div class="bld-detail__info-item">
                    <p class="bld-detail__info-title">Группа объектов</p>
                    <p><a href="#">БЦ Возрождение</a></p>
                </div>

                <div class="bld-detail__info-item">
                    <p class="bld-detail__info-title">Адрес</p>
                    <p>172531, Тверская обл, г. Нелидово, Ул. Невского, д.1</p>
                </div>

                <div class="bld-detail__info-item">
                    <p class="bld-detail__info-title">Тип</p>
                    <p>Торговое</p>
                </div>

                <div class="bld-detail__info-item">
                    <p class="bld-detail__info-title">Площадь</p>
                    <p>150 м2</p>
                </div>

                <div class="bld-detail__info-item">
                    <p class="bld-detail__info-title">Количество этажей</p>
                    <p>25</p>
                </div>
            </div>
        </div>

        <div class="bld-detail__column">
            <div class="bld-detail__about">
                <p>Самый известный текст-«рыба», называемый Lorem ipsum, имеет свои корни в 16-том веке. Lorem ipsum был создан на псевдо-латыни, которая приблизительно соответствует настоящей латыни.</p>
            </div>
        </div>
    </div>

    <div class="bld-detail__images">
        <div class="bld-detail__block">
            <div class="js-object-slider swiper bld-detail__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a class="video-link" data-fancybox href="https://www.youtube.com/watch?v=MOEtQSswu3s">
                            <img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt="">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#play_icon_filled" />
                            </svg>
                        </a>
                    </div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img.jpg" srcset="images/content/img@2x.jpg 2x" alt=""></div>
                </div>

                <button class="js-object-slider-prev swiper-button-prev" type="button" title="Назад">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#chevron_left" />
                    </svg>
                </button>
                <button class="js-object-slider-next swiper-button-next" type="button" title="Вперед">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#chevron_right" />
                    </svg>
                </button>
            </div>

            <div thumbsSlider="" class="js-object-thumbs swiper bld-detail__thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="video-link">
                            <img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt="">
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#play_icon_filled" />
                            </svg>
                        </div>
                    </div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                    <div class="swiper-slide"><img src="images/content/img_2.jpg" srcset="images/content/img_2@2x.jpg 2x" alt=""></div>
                </div>
            </div>
        </div>

        <div class="bld-detail__block">
            <div class="bld-detail__plan"><img src="images/content/plan_2.jpg" srcset="images/content/plan_2@2x.jpg 2x" alt=""></div>
        </div>
    </div>
</div>